# ATTN: This script should be run AFTER language detection is completed.

# Drop non-English job descriptions

### START HERE IF SOURCING FROM DF_JOBS_RAW_LANGUAGE_DETECTED
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [1]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

if code_dir_name not in str(Path.cwd()).split('/')[-1]:
    for _ in range(5):

        parent_path = str(Path.cwd().parents[_]).split('/')[-1]

        if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

            code_dir = str(Path.cwd().parents[_])

            if code_dir is not None:
                break
else:
    code_dir = str(Path.cwd())
sys.path.append(code_dir)

# %load_ext autoreload
# %autoreload 2

In [2]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

/opt/homebrew/Caskroom/mambaforge/base/envs/Automating_Equity1/lib/python3.10/site-packages/outdated/utils.py:14: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.5.3, the latest is 0.5.4.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

Using MPS

0it [00:00, ?it/s]

In [3]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_raw_language_detected.pkl')

In [4]:
# len = 62577
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62577 entries, 0 to 62576
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Search Keyword     62577 non-null  object
 1   Platform           62577 non-null  object
 2   Job ID             62577 non-null  object
 3   Job Title          62577 non-null  object
 4   Company Name       62574 non-null  object
 5   Location           62577 non-null  object
 6   Job Description    62577 non-null  object
 7   Rating             3975 non-null   float64
 8   Employment Type    61995 non-null  object
 9   Company URL        59263 non-null  object
 10  Job URL            62577 non-null  object
 11  Job Age            62577 non-null  object
 12  Job Age Number     62577 non-null  object
 13  Collection Date    62577 non-null  object
 14  Data Row           58599 non-null  float64
 15  Tracking ID        58599 non-null  object
 16  Industry           59184 non-null  object
 17  Job Date           58602 non-null  object
 18  Type of ownership  582 non-null    object
 19  Language           62577 non-null  object
dtypes: float64(2), object(18)
memory usage: 9.5+ MB

In [5]:
# nl = 44863, en = 17591, ['en', 'nl'] = 8, ['nl', 'en'] = 9
df_jobs['Language'].value_counts()

Language
nl              44863
en              17591
de                 53
fr                 36
['nl', 'en']        9
['en', 'nl']        8
pl                  5
id                  4
da                  4
tr                  1
['nl', 'af']        1
st                  1
af                  1
Name: count, dtype: int64

In [6]:
%%time
# The majority of ['en', 'nl'] labeled job descriptions contain mostly English
df_jobs['Language'] = df_jobs['Language'].progress_apply(
    lambda lang: 'en' if lang == "['en', 'nl']" else lang
)

progress-bar:   0%|          | 0/62577 [00:00<?, ?it/s]

CPU times: user 52.7 ms, sys: 3.47 ms, total: 56.2 ms
Wall time: 60.6 ms

In [7]:
# Drop non-English ads
df_jobs = df_jobs.drop(
    df_jobs[
        df_jobs['Language'] != 'en'
    ].index,
        axis='index',
)

In [8]:
# 17599
len(df_jobs)

17599

In [9]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_raw_english_only.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_raw_english_only.csv', index=False)

# Fix abbreviations in job descriptions

### START HERE IF SOURCING FROM DF_JOBS_RAW_ENGLISH_ONLY
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [10]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

if code_dir_name not in str(Path.cwd()).split('/')[-1]:
    for _ in range(5):

        parent_path = str(Path.cwd().parents[_]).split('/')[-1]

        if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

            code_dir = str(Path.cwd().parents[_])

            if code_dir is not None:
                break
else:
    code_dir = str(Path.cwd())
sys.path.append(code_dir)

# %load_ext autoreload
# %autoreload 2

In [11]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [12]:
# Function to make a list of punctuations that determine sentence boundry, i.e., split characters
def make_custom_punct_chars(main_punct_chars=None, repeated_punct_chars=None):
    if main_punct_chars is None:
        main_punct_chars = [':', '|']
    if repeated_punct_chars is None:
        repeated_punct_chars = ['\n', ',']
    custom_punct_chars = []
    temp_multi = []
    temp_spaced = []

    for punct_char in main_punct_chars:
        custom_punct_chars+= f'{punct_char}', f'{punct_char} '

    for idx in range(4):
        for punct_char in repeated_punct_chars:
            temp_multi.append(f'{punct_char}'*int(idx+1))
            temp_spaced.append(f'{punct_char} '*int(idx+1))

    for multi, spaced in zip(temp_multi, temp_spaced):
        custom_punct_chars+= multi, spaced

    custom_punct_chars.remove(',')
    custom_punct_chars.remove(', ')

    return custom_punct_chars

In [13]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_raw_english_only.pkl')

In [14]:
# len = 17599
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17599 entries, 0 to 62535
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Search Keyword     17599 non-null  object
 1   Platform           17599 non-null  object
 2   Job ID             17599 non-null  object
 3   Job Title          17599 non-null  object
 4   Company Name       17597 non-null  object
 5   Location           17599 non-null  object
 6   Job Description    17599 non-null  object
 7   Rating             3780 non-null   float64
 8   Employment Type    17017 non-null  object
 9   Company URL        15959 non-null  object
 10  Job URL            17599 non-null  object
 11  Job Age            17599 non-null  object
 12  Job Age Number     17599 non-null  object
 13  Collection Date    17599 non-null  object
 14  Data Row           13816 non-null  float64
 15  Tracking ID        13816 non-null  object
 16  Industry           14401 non-null  object
 17  Job Date           13819 non-null  object
 18  Type of ownership  582 non-null    object
 19  Language           17599 non-null  object
dtypes: float64(2), object(18)
memory usage: 2.8+ MB

In [15]:
# Conver Job ID and Sentence to str
str_cols = [
    'Job ID',
    'Job Description',
]

for col in str_cols:
    df_jobs[col] = df_jobs[col].astype(str)
    df_jobs[col] = df_jobs[col].progress_apply(lambda x: x.strip())
    df_jobs[col] = df_jobs[col].progress_apply(lambda x: unicodedata.normalize('NFKD', x.encode('ascii', 'ignore').decode('utf-8', 'ignore')))
    print(f'{col} converted to str.' if all(df_jobs[col].progress_apply(lambda x: isinstance(x, str))) else f'{col} NOT converted to str.')

progress-bar:   0%|          | 0/17599 [00:00<?, ?it/s]

progress-bar:   0%|          | 0/17599 [00:00<?, ?it/s]

progress-bar:   0%|          | 0/17599 [00:00<?, ?it/s]

Job ID converted to str.

progress-bar:   0%|          | 0/17599 [00:00<?, ?it/s]

progress-bar:   0%|          | 0/17599 [00:00<?, ?it/s]

progress-bar:   0%|          | 0/17599 [00:00<?, ?it/s]

Job Description converted to str.

In [16]:
df_jobs['Job Description'].head()

0    About Our Client\nThe Global KYC organisation ...
2    Your role:\n\nWere in business to save our hom...
3    During the past four years Colourful Rebel has...
5    Job Description\nWe are currently recruiting a...
7    KARL LAGERFELD COMPANY PROFILE\n\nThe house of...
Name: Job Description, dtype: object

In [17]:
# count=17599, unique=17594, top=, freq=1
df_jobs['Job Description'].describe()

count                                                 17599
unique                                                17594
top       At SoftwareONE we are customerfocused Delighti...
freq                                                      3
Name: Job Description, dtype: object

In [18]:
df_jobs = df_jobs.drop_duplicates(subset=['Job Description'], keep='first')

In [19]:
# len=17594
len(df_jobs)

17594

In [20]:
df_jobs['Job Description'].head()

0    About Our Client\nThe Global KYC organisation ...
2    Your role:\n\nWere in business to save our hom...
3    During the past four years Colourful Rebel has...
5    Job Description\nWe are currently recruiting a...
7    KARL LAGERFELD COMPANY PROFILE\n\nThe house of...
Name: Job Description, dtype: object

In [21]:
# count=17594, unique=17594, top=, freq=1
df_jobs['Job Description'].describe()

count                                                 17594
unique                                                17594
top       About Our Client\nThe Global KYC organisation ...
freq                                                      1
Name: Job Description, dtype: object

In [22]:
custom_punct_chars = make_custom_punct_chars()
print(custom_punct_chars)

[':', ': ', '|', '| ', '\n', '\n ', '\n\n', '\n \n ', ',,', ', , ', '\n\n\n', '\n \n \n ', ',,,', ', , , ', '\n\n\n\n', '\n \n \n \n ', ',,,,', ', , , , ']

In [23]:
# Drop na, empty strings, punctuations, and keep only sentences of length more than 0
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

df_jobs = df_jobs.dropna(subset=['Job Description'])
df_jobs = df_jobs.loc[
    (df_jobs['Job Description'].isnull() == False)
    & (df_jobs['Job Description'].isna() == False)
    & (df_jobs['Job Description'].notnull() == True)
    & (df_jobs['Job Description'].notna() == True)
    & (df_jobs['Job Description'].astype(bool) == True)
    & (df_jobs['Job Description'].progress_apply(len) > 0)
    & (pd.isna(df_jobs['Job Description']) == False)
    & (df_jobs['Job Description'].astype(str).isin(custom_punct_chars) == False)
    & (df_jobs['Job Description'].astype(str).isin(non_whitespace_nan_list) == False)
    & (df_jobs['Job Description'].astype(str).isin(list(string.punctuation)) == False)
    & (df_jobs['Job Description'].astype(str).isin(list(string.whitespace)) == False)
]
df_jobs = df_jobs.dropna(subset=['Job Description'])

progress-bar:   0%|          | 0/17594 [00:00<?, ?it/s]

In [24]:
df_jobs['Job Description'].head()

0    About Our Client\nThe Global KYC organisation ...
2    Your role:\n\nWere in business to save our hom...
3    During the past four years Colourful Rebel has...
5    Job Description\nWe are currently recruiting a...
7    KARL LAGERFELD COMPANY PROFILE\n\nThe house of...
Name: Job Description, dtype: object

In [25]:
df_jobs['Job Description'].describe()

count                                                 17593
unique                                                17593
top       About Our Client\nThe Global KYC organisation ...
freq                                                      1
Name: Job Description, dtype: object

In [26]:
# Remove duplicate sentences from the same job ad
df_jobs = df_jobs.drop_duplicates(subset=['Job ID', 'Job Description'])

In [27]:
# Check row are string or invalid
for idx, row in df_jobs['Job Description'].items():
    if (not isinstance(row, str)) or (row in nan_list) or (row in custom_punct_chars) or (row in list(string.punctuation)) or (pd.isna(row) == True):
        print(idx, row)

In [28]:
# len=17593
len(df_jobs)

17593

In [29]:
df_jobs['Job Description'].head()

0    About Our Client\nThe Global KYC organisation ...
2    Your role:\n\nWere in business to save our hom...
3    During the past four years Colourful Rebel has...
5    Job Description\nWe are currently recruiting a...
7    KARL LAGERFELD COMPANY PROFILE\n\nThe house of...
Name: Job Description, dtype: object

In [30]:
# count=17593, unique=17593
df_jobs['Job Description'].describe()

count                                                 17593
unique                                                17593
top       About Our Client\nThe Global KYC organisation ...
freq                                                      1
Name: Job Description, dtype: object

In [31]:
df_jobs['Job Description'] = df_jobs.loc[df_jobs['Job Description'].notnull(), 'Job Description'].progress_apply(
    lambda job_description: ' '.join(job_description.split('/')) if '/' in job_description else job_description
)

progress-bar:   0%|          | 0/17593 [00:00<?, ?it/s]

In [32]:
abb_dict = {
    r'incl\.': 'including',
    r'e\.g\.': 'for example',
    r'e\.g': 'for example',
    r'etc\.': 'et cetera',
    r'\"': '',
}

In [33]:
%%time
df_jobs['Job Description'] = df_jobs['Job Description'].replace(abb_dict, regex=True)

CPU times: user 277 ms, sys: 3.73 ms, total: 281 ms
Wall time: 290 ms

In [34]:
df_jobs['Job Description'].head()

0    About Our Client\nThe Global KYC organisation ...
2    Your role:\n\nWere in business to save our hom...
3    During the past four years Colourful Rebel has...
5    Job Description\nWe are currently recruiting a...
7    KARL LAGERFELD COMPANY PROFILE\n\nThe house of...
Name: Job Description, dtype: object

In [35]:
# count= 17593, unique= 17593
df_jobs['Job Description'].describe()

count                                                 17593
unique                                                17593
top       About Our Client\nThe Global KYC organisation ...
freq                                                      1
Name: Job Description, dtype: object

In [36]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_raw_fixed_abbreviations.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_raw_fixed_abbreviations.csv', index=False)

# Add English and Dutch language requirement columns

### START HERE IF SOURCING FROM DF_JOBS_RAW_FIXED_ABBREVIATIONS
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [37]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

if code_dir_name not in str(Path.cwd()).split('/')[-1]:
    for _ in range(5):

        parent_path = str(Path.cwd().parents[_]).split('/')[-1]

        if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

            code_dir = str(Path.cwd().parents[_])

            if code_dir is not None:
                break
else:
    code_dir = str(Path.cwd())
sys.path.append(code_dir)

# %load_ext autoreload
# %autoreload 2

In [38]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [39]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_raw_fixed_abbreviations.pkl')

In [40]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17593 entries, 0 to 62535
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Search Keyword     17593 non-null  object
 1   Platform           17593 non-null  object
 2   Job ID             17593 non-null  object
 3   Job Title          17593 non-null  object
 4   Company Name       17591 non-null  object
 5   Location           17593 non-null  object
 6   Job Description    17593 non-null  object
 7   Rating             3780 non-null   float64
 8   Employment Type    17011 non-null  object
 9   Company URL        15954 non-null  object
 10  Job URL            17593 non-null  object
 11  Job Age            17593 non-null  object
 12  Job Age Number     17593 non-null  object
 13  Collection Date    17593 non-null  object
 14  Data Row           13810 non-null  float64
 15  Tracking ID        13810 non-null  object
 16  Industry           14395 non-null  object
 17  Job Date           13813 non-null  object
 18  Type of ownership  582 non-null    object
 19  Language           17593 non-null  object
dtypes: float64(2), object(18)
memory usage: 2.8+ MB

In [41]:
%%time
# Add language requirement column
# Use regex to find language requirement
lang_requirements = {
    'Dutch Requirement in Job Ad': dutch_requirement_pattern, 'English Requirement in Job Ad': english_requirement_pattern
}

for lang_req, lang_req_pattern in lang_requirements.items():

    if lang_req in df_jobs.columns:
        df_jobs = df_jobs.drop(columns=[lang_req])
    df_jobs[lang_req] = np.where(
        df_jobs['Job Description'].str.contains(lang_req_pattern),
        'Yes',
        'No',
    )
    df_jobs[lang_req] = df_jobs[lang_req].astype('category').cat.reorder_categories(['No', 'Yes'], ordered=True)
    df_jobs[lang_req] = pd.Categorical(df_jobs[lang_req], categories=['No', 'Yes'], ordered=True)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_raw_language_requirement.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_raw_english_requirement.csv', index=False)

CPU times: user 6.37 s, sys: 140 ms, total: 6.51 s
Wall time: 8.59 s

In [42]:
# Yes = 298 job ads
df_jobs['Dutch Requirement in Job Ad'].value_counts()

Dutch Requirement in Job Ad
No     17295
Yes      298
Name: count, dtype: int64

In [43]:
# Yes = 545 job ads
df_jobs['English Requirement in Job Ad'].value_counts()

English Requirement in Job Ad
No     17048
Yes      545
Name: count, dtype: int64

In [44]:
# Dummy coding for language requirement
df_jobs = df_jobs.join(pd.get_dummies(df_jobs[['Dutch Requirement in Job Ad', 'English Requirement in Job Ad']], dtype='int64'))

In [45]:
df_jobs['Dutch Requirement in Job Ad_Yes'].value_counts()

Dutch Requirement in Job Ad_Yes
0    17295
1      298
Name: count, dtype: int64

In [46]:
df_jobs['English Requirement in Job Ad_Yes'].value_counts()

English Requirement in Job Ad_Yes
0    17048
1      545
Name: count, dtype: int64

In [47]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_raw_language_requirement.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_raw_language_requirement.csv', index=False)

# Add data from Sectors dataframe (see CBS directory under '1. Scraping' directory)

### START HERE IF SOURCING FROM DF_JOBS_RAW_LANGUAGE_REQUIREMENT
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [48]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

if code_dir_name not in str(Path.cwd()).split('/')[-1]:
    for _ in range(5):

        parent_path = str(Path.cwd().parents[_]).split('/')[-1]

        if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

            code_dir = str(Path.cwd().parents[_])

            if code_dir is not None:
                break
else:
    code_dir = str(Path.cwd())
sys.path.append(code_dir)

# %load_ext autoreload
# %autoreload 2

In [49]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [50]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_raw_language_requirement.pkl')

In [51]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17593 entries, 0 to 62535
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Search Keyword                     17593 non-null  object
 1   Platform                           17593 non-null  object
 2   Job ID                             17593 non-null  object
 3   Job Title                          17593 non-null  object
 4   Company Name                       17591 non-null  object
 5   Location                           17593 non-null  object
 6   Job Description                    17593 non-null  object
 7   Rating                             3780 non-null   float64
 8   Employment Type                    17011 non-null  object
 9   Company URL                        15954 non-null  object
 10  Job URL                            17593 non-null  object
 11  Job Age                            17593 non-null  object
 12  Job Age Number                     17593 non-null  object
 13  Collection Date                    17593 non-null  object
 14  Data Row                           13810 non-null  float64
 15  Tracking ID                        13810 non-null  object
 16  Industry                           14395 non-null  object
 17  Job Date                           13813 non-null  object
 18  Type of ownership                  582 non-null    object
 19  Language                           17593 non-null  object
 20  Dutch Requirement in Job Ad        17593 non-null  category
 21  English Requirement in Job Ad      17593 non-null  category
 22  Dutch Requirement in Job Ad_No     17593 non-null  int64
 23  Dutch Requirement in Job Ad_Yes    17593 non-null  int64
 24  English Requirement in Job Ad_No   17593 non-null  int64
 25  English Requirement in Job Ad_Yes  17593 non-null  int64
dtypes: category(2), float64(2), int64(4), object(18)
memory usage: 3.4+ MB

In [52]:
try:
    df_sectors_all = pd.read_pickle(f'{table_save_path}Sectors Output from script.pkl')
except FileNotFoundError:
    cbs_notebook = '\\'.join(f'{scraped_data}CBS/CBS.ipynb')
    %run $cbs_notebook import df_sectors_all # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [53]:
df_sectors_all.columns

MultiIndex([('SBI Sector Titles', 'Industry class / branch (SIC2008)',                   'Code'),
            ('SBI Sector Titles', 'Industry class / branch (SIC2008)',            'Sector Name'),
            ('SBI Sector Titles', 'Industry class / branch (SIC2008)',               'Keywords'),
            ('SBI Sector Titles', 'Industry class / branch (SIC2008)',             'Keywords n'),
            (           'Gender',                            'Female',                      'n'),
            (           'Gender',                            'Female',           '% per Sector'),
            (           'Gender',                            'Female',  '% per Social Category'),
            (           'Gender',                            'Female',        '% per Workforce'),
            (           'Gender',                              'Male',                      'n'),
            (           'Gender',                              'Male',           '% per Sector'),
            (           'Gender',                              'Male',  '% per Social Category'),
            (           'Gender',                              'Male',        '% per Workforce'),
            (           'Gender',       'Sectoral Gender Segregation',      'Dominant Category'),
            (              'Age',               'Older (>= 45 years)',                      'n'),
            (              'Age',               'Older (>= 45 years)',           '% per Sector'),
            (              'Age',               'Older (>= 45 years)',  '% per Social Category'),
            (              'Age',               'Older (>= 45 years)',        '% per Workforce'),
            (              'Age',              'Younger (< 45 years)',                      'n'),
            (              'Age',              'Younger (< 45 years)',           '% per Sector'),
            (              'Age',              'Younger (< 45 years)',  '% per Social Category'),
            (              'Age',              'Younger (< 45 years)',        '% per Workforce'),
            (              'Age',          'Sectoral Age Segregation',      'Dominant Category'),
            (  'Total Workforce',                   'Total Workforce',                      'n'),
            (  'Total Workforce',                   'Total Workforce', '% Sector per Workforce')],
           names=['Variables', 'Categories', 'Counts'])

In [54]:
df_sectors_all.columns = [
    '_'.join(col)
    if 'SBI Sector Titles' not in col
    and 'Total Workforce' not in col
    and 'Sector Titles' not in col
    else col[-1]
    for col in df_sectors_all.columns
]

In [55]:
df_sectors_all = df_sectors_all.rename(
    columns={
        'Keywords': 'Search Keyword',
        'Keywords n': 'Keywords Count',
        'Code': 'Sector Code',
        'Sector Name': 'Sector',
        'SBI 2008 Sector Name': 'Sector',
        'Gender_Sectoral Gender Segregation_Dominant Category': 'Gender',
        'Age_Sectoral Age Segregation_Dominant Category': 'Age',
        'n': 'Sector_n',
    },
)
df_sectors_all = df_sectors_all.rename(columns={element: re.sub(r' \(\W*45 years\)', '', element) for element in df_sectors_all.columns.tolist()})

In [56]:
df_sectors_all.columns

Index(['Sector Code', 'Sector', 'Search Keyword', 'Keywords Count', 'Gender_Female_n', 'Gender_Female_% per Sector', 'Gender_Female_% per Social Category', 'Gender_Female_% per Workforce', 'Gender_Male_n', 'Gender_Male_% per Sector', 'Gender_Male_% per Social Category', 'Gender_Male_% per Workforce', 'Gender', 'Age_Older_n', 'Age_Older_% per Sector', 'Age_Older_% per Social Category', 'Age_Older_% per Workforce', 'Age_Younger_n', 'Age_Younger_% per Sector', 'Age_Younger_% per Social Category', 'Age_Younger_% per Workforce', 'Age', 'Sector_n', '% Sector per Workforce'], dtype='object')

In [57]:
df_sectors_all = df_sectors_all.explode(
    'Search Keyword', ignore_index=True
)

In [58]:
df_sectors_all.columns

Index(['Sector Code', 'Sector', 'Search Keyword', 'Keywords Count', 'Gender_Female_n', 'Gender_Female_% per Sector', 'Gender_Female_% per Social Category', 'Gender_Female_% per Workforce', 'Gender_Male_n', 'Gender_Male_% per Sector', 'Gender_Male_% per Social Category', 'Gender_Male_% per Workforce', 'Gender', 'Age_Older_n', 'Age_Older_% per Sector', 'Age_Older_% per Social Category', 'Age_Older_% per Workforce', 'Age_Younger_n', 'Age_Younger_% per Sector', 'Age_Younger_% per Social Category', 'Age_Younger_% per Workforce', 'Age', 'Sector_n', '% Sector per Workforce'], dtype='object')

In [59]:
# len 101
len(df_sectors_all)

101

#### Before adding sector data, make sure keywords are correct as to not have any missing sector data when merging

In [60]:
# This is a manually collected dictionary of incorrect/faulty keywords in scraped site data
with open(f'{scraped_data}CBS/Data/keyword_trans_dict.txt') as f:
    keyword_trans_dict = json.load(f)

def fix_keywords(df_temp):

    if len(df_temp) > 0 and isinstance(df_temp, pd.DataFrame):
        for key, value in keyword_trans_dict.items():
            df_temp.loc[
                df_temp[df_temp['Search Keyword'].notnull()]['Search Keyword'].astype(str).progress_apply(
                lambda x: x.lower().strip()
                ) == str(key).lower().strip(), 'Search Keyword'
            ] = str(value).lower().strip()

        unfixed = df_temp.loc[
            df_temp[df_temp['Search Keyword'].notnull()]['Search Keyword'].astype(str).progress_apply(lambda x: x.lower().strip()).isin([x.lower().strip() for x in list(keyword_trans_dict.keys())])
        ]

        if len(unfixed) != 0:
            for key, value in keyword_trans_dict.items():
                for idx, row in df_temp.iterrows():
                    if row['Search Keyword'].astype(str).lower().strip() == str(key).lower().strip():
                        df_temp.loc[idx, 'Search Keyword'] = str(value).lower().strip()

        unfixed = df_temp.loc[
                df_temp[df_temp['Search Keyword'].notnull()]['Search Keyword'].astype(str).progress_apply(lambda x: x.lower().strip()).isin([x.lower().strip() for x in list(keyword_trans_dict.keys())])
            ]
        if len(unfixed) != 0:
            print('Some keywords were not fixed. Please check file unfixed_keywords.txt in data directory.')
            with open(f'{data_dir}unfixed_keywords.txt', 'w') as f:
                json.dump(unfixed, f)

    return df_temp

# Fix keywords
if len(df_jobs['Search Keyword'].loc[df_jobs['Search Keyword'].isin(list(keyword_trans_dict.keys()))]) != 0:
    print('Some search keywords did not match a sector. Fixing')
#     print(set(df_jobs['Search Keyword'].loc[df_jobs['Sector'].isna()].to_list()))
    print(len(df_jobs['Search Keyword'].loc[df_jobs['Search Keyword'].isin(list(keyword_trans_dict.keys()))]))
    df_jobs = fix_keywords(df_jobs)
#     print(set(df_jobs['Search Keyword'].loc[df_jobs['Sector'].isna()].to_list()))
    print(len(df_jobs['Search Keyword'].loc[df_jobs['Search Keyword'].isin(list(keyword_trans_dict.keys()))]))

In [61]:
df_jobs = df_jobs.merge(df_sectors_all, on='Search Keyword', how='left')

In [62]:
# 17593
len(df_jobs)

17593

In [63]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17593 entries, 0 to 17592
Data columns (total 49 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Search Keyword                       17593 non-null  object
 1   Platform                             17593 non-null  object
 2   Job ID                               17593 non-null  object
 3   Job Title                            17593 non-null  object
 4   Company Name                         17591 non-null  object
 5   Location                             17593 non-null  object
 6   Job Description                      17593 non-null  object
 7   Rating                               3780 non-null   float64
 8   Employment Type                      17011 non-null  object
 9   Company URL                          15954 non-null  object
 10  Job URL                              17593 non-null  object
 11  Job Age                              17593 non-null  object
 12  Job Age Number                       17593 non-null  object
 13  Collection Date                      17593 non-null  object
 14  Data Row                             13810 non-null  float64
 15  Tracking ID                          13810 non-null  object
 16  Industry                             14395 non-null  object
 17  Job Date                             13813 non-null  object
 18  Type of ownership                    582 non-null    object
 19  Language                             17593 non-null  object
 20  Dutch Requirement in Job Ad          17593 non-null  category
 21  English Requirement in Job Ad        17593 non-null  category
 22  Dutch Requirement in Job Ad_No       17593 non-null  int64
 23  Dutch Requirement in Job Ad_Yes      17593 non-null  int64
 24  English Requirement in Job Ad_No     17593 non-null  int64
 25  English Requirement in Job Ad_Yes    17593 non-null  int64
 26  Sector Code                          17593 non-null  object
 27  Sector                               17593 non-null  object
 28  Keywords Count                       17593 non-null  float64
 29  Gender_Female_n                      17593 non-null  float64
 30  Gender_Female_% per Sector           17593 non-null  float64
 31  Gender_Female_% per Social Category  17593 non-null  float64
 32  Gender_Female_% per Workforce        17593 non-null  float64
 33  Gender_Male_n                        17593 non-null  float64
 34  Gender_Male_% per Sector             17593 non-null  float64
 35  Gender_Male_% per Social Category    17593 non-null  float64
 36  Gender_Male_% per Workforce          17593 non-null  float64
 37  Gender                               17593 non-null  object
 38  Age_Older_n                          17593 non-null  float64
 39  Age_Older_% per Sector               17593 non-null  float64
 40  Age_Older_% per Social Category      17593 non-null  float64
 41  Age_Older_% per Workforce            17593 non-null  float64
 42  Age_Younger_n                        17593 non-null  float64
 43  Age_Younger_% per Sector             17593 non-null  float64
 44  Age_Younger_% per Social Category    17593 non-null  float64
 45  Age_Younger_% per Workforce          17593 non-null  float64
 46  Age                                  17593 non-null  object
 47  Sector_n                             17593 non-null  float64
 48  % Sector per Workforce               17593 non-null  float64
dtypes: category(2), float64(21), int64(4), object(22)
memory usage: 6.3+ MB

#### Check if there is any missing sector data in the merged dataframe

In [64]:
df_jobs['Sector'].isna().sum()

0

In [65]:
if df_jobs['Sector'].isna().sum() != 0:
    print('Some search keywords did not match a sector. Fixing')
    print(set(df_jobs['Search Keyword'].loc[df_jobs['Sector'].isna()].to_list()))
    print(len(df_jobs['Search Keyword'].loc[df_jobs['Search Keyword'].isin(list(keyword_trans_dict.keys()))]))
    df_jobs = fix_keywords(df_jobs)
    print(set(df_jobs['Search Keyword'].loc[df_jobs['Sector'].isna()].to_list()))
    print(len(df_jobs['Search Keyword'].loc[df_jobs['Search Keyword'].isin(list(keyword_trans_dict.keys()))]))

In [66]:
# Female=3955, Male=6974, Mixed Gender=6664
df_jobs['Gender'].value_counts()

Gender
Male            6974
Mixed Gender    6664
Female          3955
Name: count, dtype: int64

In [67]:
# Older=3778, Younger=2351, Mixed Age=11464
df_jobs['Age'].value_counts()

Age
Mixed Age    11464
Older         3778
Younger       2351
Name: count, dtype: int64

In [68]:
if df_jobs['Sector'].isna().sum() == 0:
    assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
    df_jobs.to_pickle(f'{df_save_dir}df_jobs_including_sector_data.pkl')
    df_jobs.to_csv(f'{df_save_dir}df_jobs_including_sector_data.csv', index=False)

else:
    print(f"MISSING SECTOR DATA: COUNT {df_jobs['Sector'].isna().sum()}")

# Add interaction terms and categorical data

### START HERE IF SOURCING FROM DF_JOBS_INCLUDING_SECTOR_DATA
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [69]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

if code_dir_name not in str(Path.cwd()).split('/')[-1]:
    for _ in range(5):

        parent_path = str(Path.cwd().parents[_]).split('/')[-1]

        if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

            code_dir = str(Path.cwd().parents[_])

            if code_dir is not None:
                break
else:
    code_dir = str(Path.cwd())
sys.path.append(code_dir)

# %load_ext autoreload
# %autoreload 2

In [70]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [71]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_including_sector_data.pkl')

In [72]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17593 entries, 0 to 17592
Data columns (total 49 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Search Keyword                       17593 non-null  object
 1   Platform                             17593 non-null  object
 2   Job ID                               17593 non-null  object
 3   Job Title                            17593 non-null  object
 4   Company Name                         17591 non-null  object
 5   Location                             17593 non-null  object
 6   Job Description                      17593 non-null  object
 7   Rating                               3780 non-null   float64
 8   Employment Type                      17011 non-null  object
 9   Company URL                          15954 non-null  object
 10  Job URL                              17593 non-null  object
 11  Job Age                              17593 non-null  object
 12  Job Age Number                       17593 non-null  object
 13  Collection Date                      17593 non-null  object
 14  Data Row                             13810 non-null  float64
 15  Tracking ID                          13810 non-null  object
 16  Industry                             14395 non-null  object
 17  Job Date                             13813 non-null  object
 18  Type of ownership                    582 non-null    object
 19  Language                             17593 non-null  object
 20  Dutch Requirement in Job Ad          17593 non-null  category
 21  English Requirement in Job Ad        17593 non-null  category
 22  Dutch Requirement in Job Ad_No       17593 non-null  int64
 23  Dutch Requirement in Job Ad_Yes      17593 non-null  int64
 24  English Requirement in Job Ad_No     17593 non-null  int64
 25  English Requirement in Job Ad_Yes    17593 non-null  int64
 26  Sector Code                          17593 non-null  object
 27  Sector                               17593 non-null  object
 28  Keywords Count                       17593 non-null  float64
 29  Gender_Female_n                      17593 non-null  float64
 30  Gender_Female_% per Sector           17593 non-null  float64
 31  Gender_Female_% per Social Category  17593 non-null  float64
 32  Gender_Female_% per Workforce        17593 non-null  float64
 33  Gender_Male_n                        17593 non-null  float64
 34  Gender_Male_% per Sector             17593 non-null  float64
 35  Gender_Male_% per Social Category    17593 non-null  float64
 36  Gender_Male_% per Workforce          17593 non-null  float64
 37  Gender                               17593 non-null  object
 38  Age_Older_n                          17593 non-null  float64
 39  Age_Older_% per Sector               17593 non-null  float64
 40  Age_Older_% per Social Category      17593 non-null  float64
 41  Age_Older_% per Workforce            17593 non-null  float64
 42  Age_Younger_n                        17593 non-null  float64
 43  Age_Younger_% per Sector             17593 non-null  float64
 44  Age_Younger_% per Social Category    17593 non-null  float64
 45  Age_Younger_% per Workforce          17593 non-null  float64
 46  Age                                  17593 non-null  object
 47  Sector_n                             17593 non-null  float64
 48  % Sector per Workforce               17593 non-null  float64
dtypes: category(2), float64(21), int64(4), object(22)
memory usage: 6.3+ MB

In [73]:
df_jobs['Sector Job Advertisement Count'] = df_jobs['Sector'].map(df_jobs.groupby('Sector')['Job ID'].count().to_dict())

In [74]:
df_jobs['Sector Job Advertisement Count'].head()

0    1787
1    1787
2    1787
3    1787
4    1787
Name: Sector Job Advertisement Count, dtype: int64

In [75]:
df_jobs[['Sector', 'Sector Job Advertisement Count']].value_counts()

Sector                                Sector Job Advertisement Count
Information and communication         2895                              2895
Commercial services                   1787                              1787
Culture, recreation, other services   1477                              1477
Transportation and storage            1465                              1465
Education                             1411                              1411
Health and social work activities     1362                              1362
Accommodation and food serving        1287                              1287
Manufacturing                         1083                              1083
Renting and other business support    1064                              1064
Other service activities              1032                              1032
Agriculture and industry              458                                458
Business services                     418                                418
Renting, buying, selling real estate  362                                362
Industry (no construction), energy    315                                315
Water supply and waste management     284                                284
Financial institutions                269                                269
Energy supply                         249                                249
Construction                          225                                225
Government and care                   150                                150
Name: count, dtype: int64

In [76]:
df_jobs['Sector Job Advertisement Count'].describe()

count   17593.000
mean     1459.523
std       762.235
min       150.000
25%      1064.000
50%      1411.000
75%      1787.000
max      2895.000
Name: Sector Job Advertisement Count, dtype: float64

In [77]:
df_jobs['Sector Gender Designation Job Advertisement Count'] = df_jobs['Gender'].map(df_jobs.groupby('Gender')['Job ID'].count().to_dict())

In [78]:
df_jobs['Sector Gender Designation Job Advertisement Count'].head()

0    6664
1    6664
2    6664
3    6664
4    6664
Name: Sector Gender Designation Job Advertisement Count, dtype: int64

In [79]:
df_jobs[['Gender', 'Sector Gender Designation Job Advertisement Count']].value_counts()

Gender        Sector Gender Designation Job Advertisement Count
Male          6974                                                 6974
Mixed Gender  6664                                                 6664
Female        3955                                                 3955
Name: count, dtype: int64

In [80]:
df_jobs['Sector Gender Designation Job Advertisement Count'].describe()

count   17593.000
mean     6177.889
std      1204.843
min      3955.000
25%      6664.000
50%      6664.000
75%      6974.000
max      6974.000
Name: Sector Gender Designation Job Advertisement Count, dtype: float64

In [81]:
df_jobs['Sector Age Designation Job Advertisement Count'] = df_jobs['Age'].map(df_jobs.groupby('Age')['Job ID'].count().to_dict())

In [82]:
df_jobs['Sector Age Designation Job Advertisement Count'].head()

0    11464
1    11464
2    11464
3    11464
4    11464
Name: Sector Age Designation Job Advertisement Count, dtype: int64

In [83]:
df_jobs[['Age', 'Sector Age Designation Job Advertisement Count']].value_counts()

Age        Sector Age Designation Job Advertisement Count
Mixed Age  11464                                             11464
Older      3778                                               3778
Younger    2351                                               2351
Name: count, dtype: int64

In [84]:
df_jobs['Sector Age Designation Job Advertisement Count'].describe()

count   17593.000
mean     8595.679
std      3944.278
min      2351.000
25%      3778.000
50%     11464.000
75%     11464.000
max     11464.000
Name: Sector Age Designation Job Advertisement Count, dtype: float64

In [85]:
df_jobs = df_jobs.join(pd.get_dummies(df_jobs[['Gender', 'Age']], dtype='int64'))
df_jobs = df_jobs.rename({'Gender_Mixed Gender': 'Gender_Mixed', 'Age_Mixed Age': 'Age_Mixed'}, axis='columns')

In [86]:
df_jobs.columns

Index(['Search Keyword', 'Platform', 'Job ID', 'Job Title', 'Company Name', 'Location', 'Job Description', 'Rating', 'Employment Type', 'Company URL', 'Job URL', 'Job Age', 'Job Age Number', 'Collection Date', 'Data Row', 'Tracking ID', 'Industry', 'Job Date', 'Type of ownership', 'Language', 'Dutch Requirement in Job Ad', 'English Requirement in Job Ad', 'Dutch Requirement in Job Ad_No', 'Dutch Requirement in Job Ad_Yes', 'English Requirement in Job Ad_No', 'English Requirement in Job Ad_Yes', 'Sector Code', 'Sector', 'Keywords Count', 'Gender_Female_n', 'Gender_Female_% per Sector', 'Gender_Female_% per Social Category', 'Gender_Female_% per Workforce', 'Gender_Male_n', 'Gender_Male_% per Sector', 'Gender_Male_% per Social Category', 'Gender_Male_% per Workforce', 'Gender', 'Age_Older_n', 'Age_Older_% per Sector', 'Age_Older_% per Social Category', 'Age_Older_% per Workforce', 'Age_Younger_n', 'Age_Younger_% per Sector', 'Age_Younger_% per Social Category', 'Age_Younger_% per Workforce', 'Age', 'Sector_n', '% Sector per Workforce', 'Sector Job Advertisement Count', 'Sector Gender Designation Job Advertisement Count', 'Sector Age Designation Job Advertisement Count', 'Gender_Female', 'Gender_Male', 'Gender_Mixed', 'Age_Mixed', 'Age_Older', 'Age_Younger'], dtype='object')

In [87]:
df_jobs = categorize_df_gender_age(df_jobs)

In [88]:
df_jobs['Interaction_Female_Older_% per Sector'] = df_jobs['Gender_Female_% per Sector'] * df_jobs['Age_Older_% per Sector']
df_jobs['Interaction_Female_Younger_% per Sector'] = df_jobs['Gender_Female_% per Sector'] * df_jobs['Age_Younger_% per Sector']
df_jobs['Interaction_Male_Older_% per Sector'] = df_jobs['Gender_Male_% per Sector'] * df_jobs['Age_Older_% per Sector']
df_jobs['Interaction_Male_Younger_% per Sector'] = df_jobs['Gender_Male_% per Sector'] * df_jobs['Age_Younger_% per Sector']

In [89]:
df_jobs.columns

Index(['Search Keyword', 'Platform', 'Job ID', 'Job Title', 'Company Name', 'Location', 'Job Description', 'Rating', 'Employment Type', 'Company URL', 'Job URL', 'Job Age', 'Job Age Number', 'Collection Date', 'Data Row', 'Tracking ID', 'Industry', 'Job Date', 'Type of ownership', 'Language', 'Dutch Requirement in Job Ad', 'English Requirement in Job Ad', 'Dutch Requirement in Job Ad_No', 'Dutch Requirement in Job Ad_Yes', 'English Requirement in Job Ad_No', 'English Requirement in Job Ad_Yes', 'Sector Code', 'Sector', 'Keywords Count', 'Gender_Female_n', 'Gender_Female_% per Sector', 'Gender_Female_% per Social Category', 'Gender_Female_% per Workforce', 'Gender_Male_n', 'Gender_Male_% per Sector', 'Gender_Male_% per Social Category', 'Gender_Male_% per Workforce', 'Gender', 'Age_Older_n', 'Age_Older_% per Sector', 'Age_Older_% per Social Category', 'Age_Older_% per Workforce', 'Age_Younger_n', 'Age_Younger_% per Sector', 'Age_Younger_% per Social Category', 'Age_Younger_% per Workforce', 'Age', 'Sector_n', '% Sector per Workforce', 'Sector Job Advertisement Count', 'Sector Gender Designation Job Advertisement Count', 'Sector Age Designation Job Advertisement Count', 'Gender_Female', 'Gender_Male', 'Gender_Mixed', 'Age_Mixed', 'Age_Older', 'Age_Younger', 'Gender_Num', 'Age_Num', 'Interaction_Female_Older_% per Sector', 'Interaction_Female_Younger_% per Sector', 'Interaction_Male_Older_% per Sector', 'Interaction_Male_Younger_% per Sector'], dtype='object')

In [90]:
get_df_info(df_jobs, ivs_all=ivs_all)

DF INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17593 entries, 0 to 17592
Data columns (total 64 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Search Keyword                                     17593 non-null  object
 1   Platform                                           17593 non-null  object
 2   Job ID                                             17593 non-null  object
 3   Job Title                                          17593 non-null  object
 4   Company Name                                       17591 non-null  object
 5   Location                                           17593 non-null  object
 6   Job Description                                    17593 non-null  object
 7   Rating                                             3780 non-null   float64
 8   Employment Type                                    17011 non-null  object
 9   Company URL                                        15954 non-null  object
 10  Job URL                                            17593 non-null  object
 11  Job Age                                            17593 non-null  object
 12  Job Age Number                                     17593 non-null  object
 13  Collection Date                                    17593 non-null  object
 14  Data Row                                           13810 non-null  float64
 15  Tracking ID                                        13810 non-null  object
 16  Industry                                           14395 non-null  object
 17  Job Date                                           13813 non-null  object
 18  Type of ownership                                  582 non-null    object
 19  Language                                           17593 non-null  object
 20  Dutch Requirement in Job Ad                        17593 non-null  category
 21  English Requirement in Job Ad                      17593 non-null  category
 22  Dutch Requirement in Job Ad_No                     17593 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                    17593 non-null  int64
 24  English Requirement in Job Ad_No                   17593 non-null  int64
 25  English Requirement in Job Ad_Yes                  17593 non-null  int64
 26  Sector Code                                        17593 non-null  object
 27  Sector                                             17593 non-null  object
 28  Keywords Count                                     17593 non-null  float64
 29  Gender_Female_n                                    17593 non-null  float64
 30  Gender_Female_% per Sector                         17593 non-null  float64
 31  Gender_Female_% per Social Category                17593 non-null  float64
 32  Gender_Female_% per Workforce                      17593 non-null  float64
 33  Gender_Male_n                                      17593 non-null  float64
 34  Gender_Male_% per Sector                           17593 non-null  float64
 35  Gender_Male_% per Social Category                  17593 non-null  float64
 36  Gender_Male_% per Workforce                        17593 non-null  float64
 37  Gender                                             17593 non-null  category
 38  Age_Older_n                                        17593 non-null  float64
 39  Age_Older_% per Sector                             17593 non-null  float64
 40  Age_Older_% per Social Category                    17593 non-null  float64
 41  Age_Older_% per Workforce                          17593 non-null  float64
 42  Age_Younger_n                                      17593 non-null  float64
 43  Age_Younger_% per Sector                           17593 non-null  float64
 44  Age_Younger_% per Social Category                  17593 non-null  float64
 45  Age_Younger_% per Workforce                        17593 non-null  float64
 46  Age                                                17593 non-null  category
 47  Sector_n                                           17593 non-null  float64
 48  % Sector per Workforce                             17593 non-null  float64
 49  Sector Job Advertisement Count                     17593 non-null  int64
 50  Sector Gender Designation Job Advertisement Count  17593 non-null  int64
 51  Sector Age Designation Job Advertisement Count     17593 non-null  int64
 52  Gender_Female                                      17593 non-null  int64
 53  Gender_Male                                        17593 non-null  int64
 54  Gender_Mixed                                       17593 non-null  int64
 55  Age_Mixed                                          17593 non-null  int64
 56  Age_Older                                          17593 non-null  int64
 57  Age_Younger                                        17593 non-null  int64
 58  Gender_Num                                         17593 non-null  int64
 59  Age_Num                                            17593 non-null  int64
 60  Interaction_Female_Older_% per Sector              17593 non-null  float64
 61  Interaction_Female_Younger_% per Sector            17593 non-null  float64
 62  Interaction_Male_Older_% per Sector                17593 non-null  float64
 63  Interaction_Male_Younger_% per Sector              17593 non-null  float64
dtypes: category(4), float64(25), int64(15), object(20)
memory usage: 8.1+ MB
====================
Gender:
--------------------
Gender Counts:
Gender
Male            6974
Mixed Gender    6664
Female          3955
Name: count, dtype: int64
--------------------
Gender Percentages:
Gender
Male           39.600
Mixed Gender   37.900
Female         22.500
Name: proportion, dtype: float64
--------------------
Gender not available.
====================
Gender_Num:
--------------------
Gender_Num Counts:
Gender_Num
2    6974
1    6664
0    3955
Name: count, dtype: int64
--------------------
Gender_Num Percentages:
Gender_Num
2   39.600
1   37.900
0   22.500
Name: proportion, dtype: float64
--------------------
Min Gender_Num value: 0.0
Max Gender_Num value: 2.0
--------------------
Gender_Num Mean: 1.172
--------------------
Gender_Num Standard Deviation: 0.769
====================
Gender_Female:
--------------------
Gender_Female Counts:
Gender_Female
0    13638
1     3955
Name: count, dtype: int64
--------------------
Gender_Female Percentages:
Gender_Female
0   77.500
1   22.500
Name: proportion, dtype: float64
--------------------
Min Gender_Female value: 0.0
Max Gender_Female value: 1.0
--------------------
Gender_Female Mean: 0.225
--------------------
Gender_Female Standard Deviation: 0.417
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
Gender_Mixed
0    10929
1     6664
Name: count, dtype: int64
--------------------
Gender_Mixed Percentages:
Gender_Mixed
0   62.100
1   37.900
Name: proportion, dtype: float64
--------------------
Min Gender_Mixed value: 0.0
Max Gender_Mixed value: 1.0
--------------------
Gender_Mixed Mean: 0.379
--------------------
Gender_Mixed Standard Deviation: 0.485
====================
Gender_Male:
--------------------
Gender_Male Counts:
Gender_Male
0    10619
1     6974
Name: count, dtype: int64
--------------------
Gender_Male Percentages:
Gender_Male
0   60.400
1   39.600
Name: proportion, dtype: float64
--------------------
Min Gender_Male value: 0.0
Max Gender_Male value: 1.0
--------------------
Gender_Male Mean: 0.396
--------------------
Gender_Male Standard Deviation: 0.489
====================
Gender_Female_n:
--------------------
Min Gender_Female_n value: 7.0
Max Gender_Female_n value: 3970.0
--------------------
Gender_Female_n Mean: 637.846
--------------------
Gender_Female_n Standard Deviation: 1041.371
====================
Gender_Male_n:
--------------------
Min Gender_Male_n value: 21.0
Max Gender_Male_n value: 4510.0
--------------------
Gender_Male_n Mean: 759.397
--------------------
Gender_Male_n Standard Deviation: 1302.576
====================
Gender_Female_% per Sector:
--------------------
Min Gender_Female_% per Sector value: 12.5
Max Gender_Female_% per Sector value: 84.299
--------------------
Gender_Female_% per Sector Mean: 44.013
--------------------
Gender_Female_% per Sector Standard Deviation: 19.078
====================
Gender_Male_% per Sector:
--------------------
Min Gender_Male_% per Sector value: 15.632
Max Gender_Male_% per Sector value: 87.5
--------------------
Gender_Male_% per Sector Mean: 55.942
--------------------
Gender_Male_% per Sector Standard Deviation: 19.11
====================
Age:
--------------------
Age Counts:
Age
Mixed Age    11464
Older         3778
Younger       2351
Name: count, dtype: int64
--------------------
Age Percentages:
Age
Mixed Age   65.200
Older       21.500
Younger     13.400
Name: proportion, dtype: float64
--------------------
Age not available.
====================
Age_Num:
--------------------
Age_Num Counts:
Age_Num
1    11464
0     3778
2     2351
Name: count, dtype: int64
--------------------
Age_Num Percentages:
Age_Num
1   65.200
0   21.500
2   13.400
Name: proportion, dtype: float64
--------------------
Min Age_Num value: 0.0
Max Age_Num value: 2.0
--------------------
Age_Num Mean: 0.919
--------------------
Age_Num Standard Deviation: 0.585
====================
Age_Older:
--------------------
Age_Older Counts:
Age_Older
0    13815
1     3778
Name: count, dtype: int64
--------------------
Age_Older Percentages:
Age_Older
0   78.500
1   21.500
Name: proportion, dtype: float64
--------------------
Min Age_Older value: 0.0
Max Age_Older value: 1.0
--------------------
Age_Older Mean: 0.215
--------------------
Age_Older Standard Deviation: 0.411
====================
Age_Mixed:
--------------------
Age_Mixed Counts:
Age_Mixed
1    11464
0     6129
Name: count, dtype: int64
--------------------
Age_Mixed Percentages:
Age_Mixed
1   65.200
0   34.800
Name: proportion, dtype: float64
--------------------
Min Age_Mixed value: 0.0
Max Age_Mixed value: 1.0
--------------------
Age_Mixed Mean: 0.652
--------------------
Age_Mixed Standard Deviation: 0.476
====================
Age_Younger:
--------------------
Age_Younger Counts:
Age_Younger
0    15242
1     2351
Name: count, dtype: int64
--------------------
Age_Younger Percentages:
Age_Younger
0   86.600
1   13.400
Name: proportion, dtype: float64
--------------------
Min Age_Younger value: 0.0
Max Age_Younger value: 1.0
--------------------
Age_Younger Mean: 0.134
--------------------
Age_Younger Standard Deviation: 0.34
====================
Age_Older_n:
--------------------
Min Age_Older_n value: 15.0
Max Age_Older_n value: 2844.0
--------------------
Age_Older_n Mean: 528.901
--------------------
Age_Older_n Standard Deviation: 800.493
====================
Age_Younger_n:
--------------------
Min Age_Younger_n value: 13.0
Max Age_Younger_n value: 5228.0
--------------------
Age_Younger_n Mean: 867.988
--------------------
Age_Younger_n Standard Deviation: 1509.184
====================
Age_Older_% per Sector:
--------------------
Min Age_Older_% per Sector value: 18.939
Max Age_Older_% per Sector value: 58.333
--------------------
Age_Older_% per Sector Mean: 40.621
--------------------
Age_Older_% per Sector Standard Deviation: 10.082
====================
Age_Younger_% per Sector:
--------------------
Min Age_Younger_% per Sector value: 44.444
Max Age_Younger_% per Sector value: 80.808
--------------------
Age_Younger_% per Sector Mean: 59.23
--------------------
Age_Younger_% per Sector Standard Deviation: 9.998
====================
Interaction_Female_Older_% per Sector:
--------------------
Min Interaction_Female_Older_% per Sector value: 595.238
Max Interaction_Female_Older_% per Sector value: 3888.445
--------------------
Interaction_Female_Older_% per Sector Mean: 1769.6
--------------------
Interaction_Female_Older_% per Sector Standard Deviation: 927.161
====================
Interaction_Female_Younger_% per Sector:
--------------------
Min Interaction_Female_Younger_% per Sector value: 662.202
Max Interaction_Female_Younger_% per Sector value: 4529.657
--------------------
Interaction_Female_Younger_% per Sector Mean: 2621.27
--------------------
Interaction_Female_Younger_% per Sector Standard Deviation: 1143.531
====================
Interaction_Male_Older_% per Sector:
--------------------
Min Interaction_Male_Older_% per Sector value: 721.036
Max Interaction_Male_Older_% per Sector value: 4699.074
--------------------
Interaction_Male_Older_% per Sector Mean: 2291.106
--------------------
Interaction_Male_Older_% per Sector Standard Deviation: 1114.184
====================
Interaction_Male_Younger_% per Sector:
--------------------
Min Interaction_Male_Younger_% per Sector value: 839.936
Max Interaction_Male_Younger_% per Sector value: 4869.203
--------------------
Interaction_Male_Younger_% per Sector Mean: 3298.628
--------------------
Interaction_Male_Younger_% per Sector Standard Deviation: 1166.297

In [91]:
get_df_info(df_jobs, ivs_all=dvs)

DF INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17593 entries, 0 to 17592
Data columns (total 64 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Search Keyword                                     17593 non-null  object
 1   Platform                                           17593 non-null  object
 2   Job ID                                             17593 non-null  object
 3   Job Title                                          17593 non-null  object
 4   Company Name                                       17591 non-null  object
 5   Location                                           17593 non-null  object
 6   Job Description                                    17593 non-null  object
 7   Rating                                             3780 non-null   float64
 8   Employment Type                                    17011 non-null  object
 9   Company URL                                        15954 non-null  object
 10  Job URL                                            17593 non-null  object
 11  Job Age                                            17593 non-null  object
 12  Job Age Number                                     17593 non-null  object
 13  Collection Date                                    17593 non-null  object
 14  Data Row                                           13810 non-null  float64
 15  Tracking ID                                        13810 non-null  object
 16  Industry                                           14395 non-null  object
 17  Job Date                                           13813 non-null  object
 18  Type of ownership                                  582 non-null    object
 19  Language                                           17593 non-null  object
 20  Dutch Requirement in Job Ad                        17593 non-null  category
 21  English Requirement in Job Ad                      17593 non-null  category
 22  Dutch Requirement in Job Ad_No                     17593 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                    17593 non-null  int64
 24  English Requirement in Job Ad_No                   17593 non-null  int64
 25  English Requirement in Job Ad_Yes                  17593 non-null  int64
 26  Sector Code                                        17593 non-null  object
 27  Sector                                             17593 non-null  object
 28  Keywords Count                                     17593 non-null  float64
 29  Gender_Female_n                                    17593 non-null  float64
 30  Gender_Female_% per Sector                         17593 non-null  float64
 31  Gender_Female_% per Social Category                17593 non-null  float64
 32  Gender_Female_% per Workforce                      17593 non-null  float64
 33  Gender_Male_n                                      17593 non-null  float64
 34  Gender_Male_% per Sector                           17593 non-null  float64
 35  Gender_Male_% per Social Category                  17593 non-null  float64
 36  Gender_Male_% per Workforce                        17593 non-null  float64
 37  Gender                                             17593 non-null  category
 38  Age_Older_n                                        17593 non-null  float64
 39  Age_Older_% per Sector                             17593 non-null  float64
 40  Age_Older_% per Social Category                    17593 non-null  float64
 41  Age_Older_% per Workforce                          17593 non-null  float64
 42  Age_Younger_n                                      17593 non-null  float64
 43  Age_Younger_% per Sector                           17593 non-null  float64
 44  Age_Younger_% per Social Category                  17593 non-null  float64
 45  Age_Younger_% per Workforce                        17593 non-null  float64
 46  Age                                                17593 non-null  category
 47  Sector_n                                           17593 non-null  float64
 48  % Sector per Workforce                             17593 non-null  float64
 49  Sector Job Advertisement Count                     17593 non-null  int64
 50  Sector Gender Designation Job Advertisement Count  17593 non-null  int64
 51  Sector Age Designation Job Advertisement Count     17593 non-null  int64
 52  Gender_Female                                      17593 non-null  int64
 53  Gender_Male                                        17593 non-null  int64
 54  Gender_Mixed                                       17593 non-null  int64
 55  Age_Mixed                                          17593 non-null  int64
 56  Age_Older                                          17593 non-null  int64
 57  Age_Younger                                        17593 non-null  int64
 58  Gender_Num                                         17593 non-null  int64
 59  Age_Num                                            17593 non-null  int64
 60  Interaction_Female_Older_% per Sector              17593 non-null  float64
 61  Interaction_Female_Younger_% per Sector            17593 non-null  float64
 62  Interaction_Male_Older_% per Sector                17593 non-null  float64
 63  Interaction_Male_Younger_% per Sector              17593 non-null  float64
dtypes: category(4), float64(25), int64(15), object(20)
memory usage: 8.1+ MB
====================
Warmth:
--------------------
Warmth not available.
====================
Competence:
--------------------
Competence not available.

In [92]:
df_jobs['Gender'].value_counts()

Gender
Male            6974
Mixed Gender    6664
Female          3955
Name: count, dtype: int64

In [93]:
df_jobs['Gender_Female'].value_counts()

Gender_Female
0    13638
1     3955
Name: count, dtype: int64

In [94]:
df_jobs['Gender_Num'].value_counts()

Gender_Num
2    6974
1    6664
0    3955
Name: count, dtype: int64

In [95]:
df_jobs['Platform'].value_counts()

Platform
LinkedIn     13813
Indeed        3198
Glassdoor      582
Name: count, dtype: int64

In [96]:
df_jobs['Platform'] = df_jobs['Platform'].astype('category').cat.reorder_categories(platform_order, ordered=True)
df_jobs['Platform'] = pd.Categorical(df_jobs['Platform'], categories=platform_order, ordered=True)
df_jobs['Platform_Num'] = pd.to_numeric(df_jobs['Platform'].cat.codes).astype('int64')
df_jobs = df_jobs.join(pd.get_dummies(df_jobs[['Platform']], dtype='int64'))

In [97]:
# LinkedIn=13818, Indeed=3198, Glassdoor=3198
df_jobs[['Platform_Num', 'Platform_LinkedIn', 'Platform_Indeed', 'Platform_Glassdoor']].value_counts()

Platform_Num  Platform_LinkedIn  Platform_Indeed  Platform_Glassdoor
0             1                  0                0                     13813
1             0                  1                0                      3198
2             0                  0                1                       582
Name: count, dtype: int64

In [98]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_including_sector_genage_data.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_including_sector_genage_data.csv', index=False)

# Use spacy to split job ads to sentences

### START HERE IF SOURCING FROM DF_JOBS_INCLUDING_SECTOR_GENAGE_DATA
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [99]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

if code_dir_name not in str(Path.cwd()).split('/')[-1]:
    for _ in range(5):

        parent_path = str(Path.cwd().parents[_]).split('/')[-1]

        if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

            code_dir = str(Path.cwd().parents[_])

            if code_dir is not None:
                break
else:
    code_dir = str(Path.cwd())
sys.path.append(code_dir)

# %load_ext autoreload
# %autoreload 2

In [100]:
from setup_module.imports import *  # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [101]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_including_sector_genage_data.pkl')

In [102]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17593 entries, 0 to 17592
Data columns (total 68 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Search Keyword                                     17593 non-null  object
 1   Platform                                           17593 non-null  category
 2   Job ID                                             17593 non-null  object
 3   Job Title                                          17593 non-null  object
 4   Company Name                                       17591 non-null  object
 5   Location                                           17593 non-null  object
 6   Job Description                                    17593 non-null  object
 7   Rating                                             3780 non-null   float64
 8   Employment Type                                    17011 non-null  object
 9   Company URL                                        15954 non-null  object
 10  Job URL                                            17593 non-null  object
 11  Job Age                                            17593 non-null  object
 12  Job Age Number                                     17593 non-null  object
 13  Collection Date                                    17593 non-null  object
 14  Data Row                                           13810 non-null  float64
 15  Tracking ID                                        13810 non-null  object
 16  Industry                                           14395 non-null  object
 17  Job Date                                           13813 non-null  object
 18  Type of ownership                                  582 non-null    object
 19  Language                                           17593 non-null  object
 20  Dutch Requirement in Job Ad                        17593 non-null  category
 21  English Requirement in Job Ad                      17593 non-null  category
 22  Dutch Requirement in Job Ad_No                     17593 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                    17593 non-null  int64
 24  English Requirement in Job Ad_No                   17593 non-null  int64
 25  English Requirement in Job Ad_Yes                  17593 non-null  int64
 26  Sector Code                                        17593 non-null  object
 27  Sector                                             17593 non-null  object
 28  Keywords Count                                     17593 non-null  float64
 29  Gender_Female_n                                    17593 non-null  float64
 30  Gender_Female_% per Sector                         17593 non-null  float64
 31  Gender_Female_% per Social Category                17593 non-null  float64
 32  Gender_Female_% per Workforce                      17593 non-null  float64
 33  Gender_Male_n                                      17593 non-null  float64
 34  Gender_Male_% per Sector                           17593 non-null  float64
 35  Gender_Male_% per Social Category                  17593 non-null  float64
 36  Gender_Male_% per Workforce                        17593 non-null  float64
 37  Gender                                             17593 non-null  category
 38  Age_Older_n                                        17593 non-null  float64
 39  Age_Older_% per Sector                             17593 non-null  float64
 40  Age_Older_% per Social Category                    17593 non-null  float64
 41  Age_Older_% per Workforce                          17593 non-null  float64
 42  Age_Younger_n                                      17593 non-null  float64
 43  Age_Younger_% per Sector                           17593 non-null  float64
 44  Age_Younger_% per Social Category                  17593 non-null  float64
 45  Age_Younger_% per Workforce                        17593 non-null  float64
 46  Age                                                17593 non-null  category
 47  Sector_n                                           17593 non-null  float64
 48  % Sector per Workforce                             17593 non-null  float64
 49  Sector Job Advertisement Count                     17593 non-null  int64
 50  Sector Gender Designation Job Advertisement Count  17593 non-null  int64
 51  Sector Age Designation Job Advertisement Count     17593 non-null  int64
 52  Gender_Female                                      17593 non-null  int64
 53  Gender_Male                                        17593 non-null  int64
 54  Gender_Mixed                                       17593 non-null  int64
 55  Age_Mixed                                          17593 non-null  int64
 56  Age_Older                                          17593 non-null  int64
 57  Age_Younger                                        17593 non-null  int64
 58  Gender_Num                                         17593 non-null  int64
 59  Age_Num                                            17593 non-null  int64
 60  Interaction_Female_Older_% per Sector              17593 non-null  float64
 61  Interaction_Female_Younger_% per Sector            17593 non-null  float64
 62  Interaction_Male_Older_% per Sector                17593 non-null  float64
 63  Interaction_Male_Younger_% per Sector              17593 non-null  float64
 64  Platform_Num                                       17593 non-null  int64
 65  Platform_LinkedIn                                  17593 non-null  int64
 66  Platform_Indeed                                    17593 non-null  int64
 67  Platform_Glassdoor                                 17593 non-null  int64
dtypes: category(5), float64(25), int64(19), object(19)
memory usage: 8.5+ MB

In [103]:
df_jobs['Job Description'] = df_jobs['Job Description'].progress_apply(lambda x: unicodedata.normalize('NFKD', x.encode('ascii', 'ignore').decode('utf-8', 'ignore')))

progress-bar:   0%|          | 0/17593 [00:00<?, ?it/s]

In [104]:
df_jobs['Job Description'].head()

0    About Our Client\nThe Global KYC organisation ...
1    Your role:\n\nWere in business to save our hom...
2    During the past four years Colourful Rebel has...
3    Job Description\nWe are currently recruiting a...
4    KARL LAGERFELD COMPANY PROFILE\n\nThe house of...
Name: Job Description, dtype: object

In [105]:
%%time
# Add sentencizer to spacy pipe and set custom punctuations
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

if 'sentencizer' not in nlp.pipe_names:
    sentencizer = nlp.add_pipe('sentencizer')
sentencizer.punct_chars.update(custom_punct_chars)

if all(custom_punct_char in sentencizer.punct_chars for custom_punct_char in custom_punct_chars):
    with open(f'{data_dir}punctuations.txt', 'wb') as f:
        pickle.dump(sentencizer.punct_chars, f)

with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

CPU times: user 7.16 ms, sys: 4.21 ms, total: 11.4 ms
Wall time: 14.3 ms

In [106]:
# Add special cases to spacy
special_cases_dict = {
    'incl.': [{65: 'incl', 67: 'including'}],
    'incl. ': [{65: 'incl', 67: 'including'}],
    '(incl.': [{65: 'incl', 67: 'including'}],
    'etc.': [{65: 'etc', 67: 'et cetera'}],
    'etc. ': [{65: 'etc', 67: 'et cetera'}],
    'e.g.': [{65: 'e.g', 67: 'for example'}],
    'e.g. ': [{65: 'e.g', 67: 'for example'}],
    'andor ': [{65: 'andor', 67: 'and or'}],
    'and/or ': [{65: 'andor', 67: 'and or'}],
}

nlp.tokenizer.rules.update(special_cases_dict)

In [107]:
df_jobs['Job Description'].head()

0    About Our Client\nThe Global KYC organisation ...
1    Your role:\n\nWere in business to save our hom...
2    During the past four years Colourful Rebel has...
3    Job Description\nWe are currently recruiting a...
4    KARL LAGERFELD COMPANY PROFILE\n\nThe house of...
Name: Job Description, dtype: object

In [108]:
df_jobs['Job Description'].describe()

count                                                 17593
unique                                                17593
top       About Our Client\nThe Global KYC organisation ...
freq                                                      1
Name: Job Description, dtype: object

In [109]:
%%time
# Spacy sentencize
if all(custom_punct_char in sentencizer.punct_chars for custom_punct_char in custom_punct_chars):
    df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description'].progress_apply(
        lambda job_description: [
            sent
            for sentence in nlp(job_description).sents
            for sent in re.split(pattern, sentence.text)
            if sent is not None
            and bool(sent) == True
            and isinstance(sent, str)
            and sent != '...'
            and sent not in nan_list
            and sent not in custom_punct_chars
            and sent not in list(string.punctuation)
            and sent not in list(string.whitespace)
            ]
    )

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_sentencized.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_sentencized.csv', index=False)

progress-bar:   0%|          | 0/17593 [00:00<?, ?it/s]

CPU times: user 23min 43s, sys: 55.7 s, total: 24min 39s
Wall time: 28min 43s

In [110]:
# len=17593
len(df_jobs)

17593

In [111]:
df_jobs['Job Description spacy_sentencized'].head()

0    [About Our Client, The Global KYC organisation...
1    [Your role, Were in business to save our home ...
2    [During the past four years Colourful Rebel ha...
3    [Job Description, We are currently recruiting ...
4    [KARL LAGERFELD COMPANY PROFILE, The house of ...
Name: Job Description spacy_sentencized, dtype: object

In [112]:
df_jobs['Job Description spacy_sentencized'].describe()

count                                                 17593
unique                                                17028
top       [For our Global KYC Screening Pillar we are lo...
freq                                                      3
Name: Job Description spacy_sentencized, dtype: object

In [113]:
# Drop na, empty strings, punctuations, and keep only sentences of length more than 0
df_jobs = df_jobs.dropna(subset=['Job Description spacy_sentencized'])
df_jobs = df_jobs.loc[
    (df_jobs['Job Description spacy_sentencized'].isnull() == False)
    & (df_jobs['Job Description spacy_sentencized'].isna() == False)
    & (df_jobs['Job Description spacy_sentencized'].notnull() == True)
    & (df_jobs['Job Description spacy_sentencized'].notna() == True)
    & (df_jobs['Job Description spacy_sentencized'].astype(bool) == True)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).progress_apply(len) > 0)
    & (pd.isna(df_jobs['Job Description spacy_sentencized']) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(custom_punct_chars) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(non_whitespace_nan_list) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(list(string.punctuation)) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(list(string.whitespace)) == False)
]
df_jobs = df_jobs.dropna(subset=['Job Description spacy_sentencized'])

progress-bar:   0%|          | 0/17593 [00:00<?, ?it/s]

In [114]:
# len=17593
len(df_jobs)

17593

In [115]:
df_jobs['Job Description spacy_sentencized'].head()

0    [About Our Client, The Global KYC organisation...
1    [Your role, Were in business to save our home ...
2    [During the past four years Colourful Rebel ha...
3    [Job Description, We are currently recruiting ...
4    [KARL LAGERFELD COMPANY PROFILE, The house of ...
Name: Job Description spacy_sentencized, dtype: object

In [116]:
# count=17593, unique=17028
df_jobs['Job Description spacy_sentencized'].describe()

count                                                 17593
unique                                                17028
top       [For our Global KYC Screening Pillar we are lo...
freq                                                      3
Name: Job Description spacy_sentencized, dtype: object

In [117]:
# sentences=1007
df_jobs['Job Description spacy_sentencized'].progress_apply(len).max()

progress-bar:   0%|          | 0/17593 [00:00<?, ?it/s]

1007

In [118]:
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description spacy_sentencized'].progress_apply(len).idxmin()]

progress-bar:   0%|          | 0/17593 [00:00<?, ?it/s]

['A leading company in the yacht building industry is looking for a Structural Specialist who will be in charge of structural calculations and FEM analysis for different projects within the engineering department Your role will be challenging as you work on cuttingedge yacht designs and see them brought to life']

In [119]:
# Remove sentences with only punctuations, whitespace, and nan, etc from list of sentences
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda job_sentences_list: [
        sentence.strip()
        for sentence in job_sentences_list
        if sentence is not None
        and len(sentence) > 5
        and sentence not in nan_list
        and sentence not in custom_punct_chars
        and sentence not in list(string.punctuation)
        and sentence not in list(string.whitespace)
    ]
)

progress-bar:   0%|          | 0/17593 [00:00<?, ?it/s]

In [120]:
df_jobs['Job Description spacy_sentencized'].head()

0    [About Our Client, The Global KYC organisation...
1    [Your role, Were in business to save our home ...
2    [During the past four years Colourful Rebel ha...
3    [Job Description, We are currently recruiting ...
4    [KARL LAGERFELD COMPANY PROFILE, The house of ...
Name: Job Description spacy_sentencized, dtype: object

In [121]:
# count=17593, unique=17000
df_jobs['Job Description spacy_sentencized'].describe()

count                                                 17593
unique                                                17000
top       [THE PROFILEAbercrombie  Fitch Co is a leading...
freq                                                      4
Name: Job Description spacy_sentencized, dtype: object

In [122]:
# Drop na, empty strings, punctuations, and keep only sentences of length more than 0
df_jobs = df_jobs.dropna(subset=['Job Description spacy_sentencized'])
df_jobs = df_jobs.loc[
    (df_jobs['Job Description spacy_sentencized'].isnull() == False)
    & (df_jobs['Job Description spacy_sentencized'].isna() == False)
    & (df_jobs['Job Description spacy_sentencized'].notnull() == True)
    & (df_jobs['Job Description spacy_sentencized'].notna() == True)
    & (df_jobs['Job Description spacy_sentencized'].astype(bool) == True)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).progress_apply(len) > 0)
    & (pd.isna(df_jobs['Job Description spacy_sentencized']) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(custom_punct_chars) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(non_whitespace_nan_list) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(list(string.punctuation)) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(list(string.whitespace)) == False)
]
df_jobs = df_jobs.dropna(subset=['Job Description spacy_sentencized'])

progress-bar:   0%|          | 0/17593 [00:00<?, ?it/s]

In [123]:
# len=17592
len(df_jobs)

17592

In [124]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17592 entries, 0 to 17592
Data columns (total 69 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Search Keyword                                     17592 non-null  object
 1   Platform                                           17592 non-null  category
 2   Job ID                                             17592 non-null  object
 3   Job Title                                          17592 non-null  object
 4   Company Name                                       17590 non-null  object
 5   Location                                           17592 non-null  object
 6   Job Description                                    17592 non-null  object
 7   Rating                                             3780 non-null   float64
 8   Employment Type                                    17010 non-null  object
 9   Company URL                                        15954 non-null  object
 10  Job URL                                            17592 non-null  object
 11  Job Age                                            17592 non-null  object
 12  Job Age Number                                     17592 non-null  object
 13  Collection Date                                    17592 non-null  object
 14  Data Row                                           13809 non-null  float64
 15  Tracking ID                                        13809 non-null  object
 16  Industry                                           14394 non-null  object
 17  Job Date                                           13812 non-null  object
 18  Type of ownership                                  582 non-null    object
 19  Language                                           17592 non-null  object
 20  Dutch Requirement in Job Ad                        17592 non-null  category
 21  English Requirement in Job Ad                      17592 non-null  category
 22  Dutch Requirement in Job Ad_No                     17592 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                    17592 non-null  int64
 24  English Requirement in Job Ad_No                   17592 non-null  int64
 25  English Requirement in Job Ad_Yes                  17592 non-null  int64
 26  Sector Code                                        17592 non-null  object
 27  Sector                                             17592 non-null  object
 28  Keywords Count                                     17592 non-null  float64
 29  Gender_Female_n                                    17592 non-null  float64
 30  Gender_Female_% per Sector                         17592 non-null  float64
 31  Gender_Female_% per Social Category                17592 non-null  float64
 32  Gender_Female_% per Workforce                      17592 non-null  float64
 33  Gender_Male_n                                      17592 non-null  float64
 34  Gender_Male_% per Sector                           17592 non-null  float64
 35  Gender_Male_% per Social Category                  17592 non-null  float64
 36  Gender_Male_% per Workforce                        17592 non-null  float64
 37  Gender                                             17592 non-null  category
 38  Age_Older_n                                        17592 non-null  float64
 39  Age_Older_% per Sector                             17592 non-null  float64
 40  Age_Older_% per Social Category                    17592 non-null  float64
 41  Age_Older_% per Workforce                          17592 non-null  float64
 42  Age_Younger_n                                      17592 non-null  float64
 43  Age_Younger_% per Sector                           17592 non-null  float64
 44  Age_Younger_% per Social Category                  17592 non-null  float64
 45  Age_Younger_% per Workforce                        17592 non-null  float64
 46  Age                                                17592 non-null  category
 47  Sector_n                                           17592 non-null  float64
 48  % Sector per Workforce                             17592 non-null  float64
 49  Sector Job Advertisement Count                     17592 non-null  int64
 50  Sector Gender Designation Job Advertisement Count  17592 non-null  int64
 51  Sector Age Designation Job Advertisement Count     17592 non-null  int64
 52  Gender_Female                                      17592 non-null  int64
 53  Gender_Male                                        17592 non-null  int64
 54  Gender_Mixed                                       17592 non-null  int64
 55  Age_Mixed                                          17592 non-null  int64
 56  Age_Older                                          17592 non-null  int64
 57  Age_Younger                                        17592 non-null  int64
 58  Gender_Num                                         17592 non-null  int64
 59  Age_Num                                            17592 non-null  int64
 60  Interaction_Female_Older_% per Sector              17592 non-null  float64
 61  Interaction_Female_Younger_% per Sector            17592 non-null  float64
 62  Interaction_Male_Older_% per Sector                17592 non-null  float64
 63  Interaction_Male_Younger_% per Sector              17592 non-null  float64
 64  Platform_Num                                       17592 non-null  int64
 65  Platform_LinkedIn                                  17592 non-null  int64
 66  Platform_Indeed                                    17592 non-null  int64
 67  Platform_Glassdoor                                 17592 non-null  int64
 68  Job Description spacy_sentencized                  17592 non-null  object
dtypes: category(5), float64(25), int64(19), object(20)
memory usage: 8.8+ MB

In [125]:
df_jobs['Job Description spacy_sentencized'].head()

0    [About Our Client, The Global KYC organisation...
1    [Your role, Were in business to save our home ...
2    [During the past four years Colourful Rebel ha...
3    [Job Description, We are currently recruiting ...
4    [KARL LAGERFELD COMPANY PROFILE, The house of ...
Name: Job Description spacy_sentencized, dtype: object

In [126]:
# count=17592, unique=16999
df_jobs['Job Description spacy_sentencized'].describe()

count                                                 17592
unique                                                16999
top       [THE PROFILEAbercrombie  Fitch Co is a leading...
freq                                                      4
Name: Job Description spacy_sentencized, dtype: object

In [127]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_sentencized.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_sentencized.csv', index=False)