# ATTN: This script should be run AFTER spacy sentence splitting is completed.

# Use spacy to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_SENTENCIZED
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [1]:
import os
import sys
import importlib
from pathlib import Path

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

# %load_ext autoreload
# %autoreload 2

In [2]:
# MAIN DIR
main_dir = f'{str(Path(code_dir).parents[0])}/'

# code_dir
code_dir = f'{code_dir}/'
sys.path.append(code_dir)

# scraping dir
scraped_data = f'{code_dir}scraped_data/'

# data dir
data_dir = f'{code_dir}data/'

# lang models dir
llm_path = f'{data_dir}Language Models'

# sites
site_list=['Indeed', 'Glassdoor', 'LinkedIn']

# columns
cols=['Sector', 
      'Sector Code', 
      'Gender', 
      'Age', 
      'Language', 
      'Dutch Requirement', 
      'English Requirement', 
      'Gender_Female', 
      'Gender_Mixed', 
      'Gender_Male', 
      'Age_Older', 
      'Age_Mixed', 
      'Age_Younger', 
      'Gender_Num', 
      'Age_Num', 
      '% Female', 
      '% Male', 
      '% Older', 
      '% Younger']

int_variable: str = 'Job ID'
str_variable: str = 'Job Description'
gender: str = 'Gender'
age: str = 'Age'
language: str = 'en'
languages = ["en", "['nl', 'en']", ['en', 'nl']]
str_cols = ['Search Keyword', 'Platform', 'Job ID', 'Job Title', 'Company Name', 'Location', 'Job Description', 'Company URL', 'Job URL', 'Tracking ID']
nan_list = [None, 'None', '', ' ', [], -1, '-1', 0, '0', 'nan', np.nan, 'Nan']
pattern = r'[\n]+|[,]{2,}|[|]{2,}|[\n\r]+|(?<=[a-z]\.)(?=\s*[A-Z])|(?=\:+[A-Z])'

In [3]:
import string
import re
import time
import json
import csv
import glob
import pickle
import pandas as pd
import numpy as np
import googletrans
from googletrans import Translator
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from spacy.pipeline import Sentencizer

# Set up Spacy
import spacy
from spacy.symbols import NORM, ORTH, LEMMA, POS

nlp = spacy.load('en_core_web_sm')

# Set up NLK
from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer, SnowballStemmer, PorterStemmer, LancasterStemmer

nltk_path = f'{llm_path}/nltk'
nltk.data.path.append(nltk_path)

nltk.download('words', download_dir = nltk_path)
nltk.download('stopwords', download_dir = nltk_path)
nltk.download('punkt', download_dir = nltk_path)
nltk.download('averaged_perceptron_tagger', download_dir = nltk_path)

stop_words = set(stopwords.words('english'))
punctuations = list(string.punctuation)

# Set up Gensim
from gensim.utils import save_as_line_sentence, simple_preprocess
from gensim.parsing.preprocessing import remove_stopwords, preprocess_string, preprocess_documents

[nltk_data] Downloading package words to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [4]:
df_jobs = pd.read_pickle(f'{data_dir}df_jobs_sentencized.pkl').reset_index(drop=True)

In [5]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17599 entries, 0 to 17598
Data columns (total 57 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Search Keyword                                  17599 non-null  object
 1   Platform                                        17599 non-null  object
 2   Job ID                                          17599 non-null  object
 3   Job Title                                       17599 non-null  object
 4   Company Name                                    17597 non-null  object
 5   Location                                        17599 non-null  object
 6   Job Description                                 17599 non-null  object
 7   Rating                                          3780 non-null   float64
 8   Employment Type                                 17017 non-null  object
 9   Company URL                                     15959 non-null  object
 10  Job URL                                         17599 non-null  object
 11  Job Age                                         17599 non-null  object
 12  Job Age Number                                  17599 non-null  object
 13  Collection Date                                 17599 non-null  object
 14  Data Row                                        13816 non-null  float64
 15  Tracking ID                                     13816 non-null  object
 16  Industry                                        14401 non-null  object
 17  Job Date                                        13819 non-null  object
 18  Type of ownership                               582 non-null    object
 19  Language                                        17599 non-null  object
 20  Dutch Requirement                               17599 non-null  object
 21  English Requirement                             17599 non-null  object
 22  Sector Code                                     17599 non-null  object
 23  Sector                                          17599 non-null  object
 24  Keywords Count                                  17599 non-null  float64
 25  % per Sector                                    17599 non-null  float64
 26  % per Social Category                           17599 non-null  float64
 27  % per Workforce                                 17599 non-null  float64
 28  Female Count (x 1000)                           17599 non-null  float64
 29  Gender_Female_% per Sector                      17599 non-null  float64
 30  Gender_Female_% per Social Category             17599 non-null  float64
 31  Gender_Female_% per Workforce                   17599 non-null  float64
 32  Male Count (x 1000)                             17599 non-null  float64
 33  Gender_Male_% per Sector                        17599 non-null  float64
 34  Gender_Male_% per Social Category               17599 non-null  float64
 35  Gender_Male_% per Workforce                     17599 non-null  float64
 36  Gender                                          17599 non-null  category
 37  Age_Older (>= 45 years)_n                       17599 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            17599 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   17599 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         17599 non-null  float64
 41  Age_Younger (< 45 years)_n                      17599 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           17599 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  17599 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        17599 non-null  float64
 45  Age                                             17599 non-null  object
 46  Sector Count (x 1000)                           17599 non-null  float64
 47  % Sector per Workforce                          17599 non-null  float64
 48  Gender_Female                                   17599 non-null  float64
 49  Gender_Mixed                                    17599 non-null  float64
 50  Gender_Male                                     17599 non-null  float64
 51  Age_Older                                       17599 non-null  float64
 52  Age_Mixed                                       17599 non-null  float64
 53  Age_Younger                                     17599 non-null  float64
 54  Gender_Num                                      17599 non-null  float64
 55  Age_Num                                         11467 non-null  float64
 56  Job Description spacy_sentencized               17599 non-null  object
dtypes: category(1), float64(32), object(24)
memory usage: 7.5+ MB

In [6]:
# Explode df so that every row is one sentence
df_jobs = df_jobs.explode('Job Description spacy_sentencized', ignore_index=True).reset_index(drop=True)

In [7]:
# 194820
len(df_jobs)

194820

In [8]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 57 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  category
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         126988 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
dtypes: category(1), float64(32), object(24)
memory usage: 83.4+ MB

In [9]:
df_jobs['Job Description spacy_sentencized_lower'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda job_sentence: job_sentence.strip().lower()
)

In [10]:
df_jobs[['Job Description spacy_sentencized', 'Job Description spacy_sentencized_lower']].head()

,Job Description spacy_sentencized,Job Description spacy_sentencized_lower
0,About Our Client,about our client
1,The Global KYC organisation is part of ING's C...,the global kyc organisation is part of ing's c...
2,Its purpose is Enabling people and organisatio...,its purpose is enabling people and organisatio...
3,Our Global KYC organisation is a first line of...,our global kyc organisation is a first line of...
4,In our Global KYC organisation you will be wor...,in our global kyc organisation you will be wor...

In [11]:
# Spacy tokenize
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

df_jobs['Job Description spacy_tokenized'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda job_sentence: [
        str(token.text.strip().lower()) 
        for token in nlp.tokenizer(job_sentence) 
        if len(token) != 0 
        and not token.is_stop 
        and not token.is_punct 
        and not token.text in custom_punct_chars
    ]
)

if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

In [12]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 59 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  category
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         126988 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
dtypes: category(1), float64(32), object(26)
memory usage: 86.4+ MB

In [14]:
if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

# Use nltk to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [15]:
import os
import sys
import importlib
from pathlib import Path

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

# %load_ext autoreload
# %autoreload 2

In [16]:
# MAIN DIR
main_dir = f'{str(Path(code_dir).parents[0])}/'

# code_dir
code_dir = f'{code_dir}/'
sys.path.append(code_dir)

# scraping dir
scraped_data = f'{code_dir}scraped_data/'

# data dir
data_dir = f'{code_dir}data/'

# lang models dir
llm_path = f'{data_dir}Language Models'

# sites
site_list=['Indeed', 'Glassdoor', 'LinkedIn']

# columns
cols=['Sector', 
      'Sector Code', 
      'Gender', 
      'Age', 
      'Language', 
      'Dutch Requirement', 
      'English Requirement', 
      'Gender_Female', 
      'Gender_Mixed', 
      'Gender_Male', 
      'Age_Older', 
      'Age_Mixed', 
      'Age_Younger', 
      'Gender_Num', 
      'Age_Num', 
      '% Female', 
      '% Male', 
      '% Older', 
      '% Younger']

int_variable: str = 'Job ID'
str_variable: str = 'Job Description'
gender: str = 'Gender'
age: str = 'Age'
language: str = 'en'
languages = ["en", "['nl', 'en']", ['en', 'nl']]
str_cols = ['Search Keyword', 'Platform', 'Job ID', 'Job Title', 'Company Name', 'Location', 'Job Description', 'Company URL', 'Job URL', 'Tracking ID']
nan_list = [None, 'None', '', ' ', [], -1, '-1', 0, '0', 'nan', np.nan, 'Nan']
pattern = r'[\n]+|[,]{2,}|[|]{2,}|[\n\r]+|(?<=[a-z]\.)(?=\s*[A-Z])|(?=\:+[A-Z])'

In [17]:
import string
import re
import time
import json
import csv
import glob
import pickle
import pandas as pd
import numpy as np
import googletrans
from googletrans import Translator
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from spacy.pipeline import Sentencizer

# Set up Spacy
import spacy
from spacy.symbols import NORM, ORTH, LEMMA, POS

nlp = spacy.load('en_core_web_sm')

# Set up NLK
from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer, SnowballStemmer, PorterStemmer, LancasterStemmer

nltk_path = f'{llm_path}/nltk'
nltk.data.path.append(nltk_path)

nltk.download('words', download_dir = nltk_path)
nltk.download('stopwords', download_dir = nltk_path)
nltk.download('punkt', download_dir = nltk_path)
nltk.download('averaged_perceptron_tagger', download_dir = nltk_path)

stop_words = set(stopwords.words('english'))
punctuations = list(string.punctuation)

# Set up Gensim
from gensim.utils import save_as_line_sentence, simple_preprocess
from gensim.parsing.preprocessing import remove_stopwords, preprocess_string, preprocess_documents

[nltk_data] Downloading package words to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [18]:
df_jobs = pd.read_pickle(f'{data_dir}df_jobs_tokenized_spacy.pkl').reset_index(drop=True)

In [19]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 59 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  category
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         126988 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
dtypes: category(1), float64(32), object(26)
memory usage: 86.4+ MB

In [20]:
df_jobs['Job Description nltk_tokenized'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda job_sentence: [
        str(token.strip().lower()) 
        for token in word_tokenize(job_sentence) 
        if len(token) != 0 
        and token != '...' 
        and not token.lower() in set(stopwords.words('english')) 
        and not token.lower() in list(string.punctuation) 
    ]
)

if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy_nltk.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

In [21]:
df_jobs['Job Description nltk_tokenized'].head()

0                                             [client]
1    [global, kyc, organisation, part, ing, 's, coo...
2    [purpose, enabling, people, organisations, use...
3    [global, kyc, organisation, first, line, defen...
4    [global, kyc, organisation, working, many, col...
Name: Job Description nltk_tokenized, dtype: object

In [22]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 60 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  category
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         126988 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description nltk_tokenized                  194820 non-null  object
dtypes: category(1), float64(32), object(27)
memory usage: 87.9+ MB

In [23]:
if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy_nltk.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

# Use gensim to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY_NLTK
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [24]:
import os
import sys
import importlib
from pathlib import Path

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

# %load_ext autoreload
# %autoreload 2

In [25]:
# MAIN DIR
main_dir = f'{str(Path(code_dir).parents[0])}/'

# code_dir
code_dir = f'{code_dir}/'
sys.path.append(code_dir)

# scraping dir
scraped_data = f'{code_dir}scraped_data/'

# data dir
data_dir = f'{code_dir}data/'

# lang models dir
llm_path = f'{data_dir}Language Models'

# sites
site_list=['Indeed', 'Glassdoor', 'LinkedIn']

# columns
cols=['Sector', 
      'Sector Code', 
      'Gender', 
      'Age', 
      'Language', 
      'Dutch Requirement', 
      'English Requirement', 
      'Gender_Female', 
      'Gender_Mixed', 
      'Gender_Male', 
      'Age_Older', 
      'Age_Mixed', 
      'Age_Younger', 
      'Gender_Num', 
      'Age_Num', 
      '% Female', 
      '% Male', 
      '% Older', 
      '% Younger']

int_variable: str = 'Job ID'
str_variable: str = 'Job Description'
gender: str = 'Gender'
age: str = 'Age'
language: str = 'en'
languages = ["en", "['nl', 'en']", ['en', 'nl']]
str_cols = ['Search Keyword', 'Platform', 'Job ID', 'Job Title', 'Company Name', 'Location', 'Job Description', 'Company URL', 'Job URL', 'Tracking ID']
nan_list = [None, 'None', '', ' ', [], -1, '-1', 0, '0', 'nan', np.nan, 'Nan']
pattern = r'[\n]+|[,]{2,}|[|]{2,}|[\n\r]+|(?<=[a-z]\.)(?=\s*[A-Z])|(?=\:+[A-Z])'

In [26]:
import string
import re
import time
import json
import csv
import glob
import pickle
import pandas as pd
import numpy as np
import googletrans
from googletrans import Translator
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from spacy.pipeline import Sentencizer

# Set up Spacy
import spacy
from spacy.symbols import NORM, ORTH, LEMMA, POS

nlp = spacy.load('en_core_web_sm')

# Set up NLK
from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer, SnowballStemmer, PorterStemmer, LancasterStemmer

nltk_path = f'{llm_path}/nltk'
nltk.data.path.append(nltk_path)

nltk.download('words', download_dir = nltk_path)
nltk.download('stopwords', download_dir = nltk_path)
nltk.download('punkt', download_dir = nltk_path)
nltk.download('averaged_perceptron_tagger', download_dir = nltk_path)

stop_words = set(stopwords.words('english'))
punctuations = list(string.punctuation)

# Set up Gensim
from gensim.utils import save_as_line_sentence, simple_preprocess
from gensim.parsing.preprocessing import remove_stopwords, preprocess_string, preprocess_documents

[nltk_data] Downloading package words to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [27]:
df_jobs = pd.read_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk.pkl').reset_index(drop=True)

In [28]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 60 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  category
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         126988 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description nltk_tokenized                  194820 non-null  object
dtypes: category(1), float64(32), object(27)
memory usage: 87.9+ MB

In [29]:
df_jobs['Job Description gensim_tokenized'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda sentence: preprocess_string(re.sub(pattern, ' ', sentence.strip().lower()))
)

if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

In [30]:
df_jobs['Job Description gensim_tokenized'].head()

0                                             [client]
1             [global, kyc, organis, ing, coo, domain]
2    [purpos, enabl, peopl, organis, us, bank, serv...
3    [global, kyc, organis, line, defenc, depart, p...
4    [global, kyc, organis, work, colleagu, differ,...
Name: Job Description gensim_tokenized, dtype: object

In [31]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 61 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  category
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         126988 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description nltk_tokenized                  194820 non-null  object
 60  Job Description gensim_tokenized                194820 non-null  object
dtypes: category(1), float64(32), object(28)
memory usage: 89.4+ MB

In [32]:
if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')