# ATTN: This script should be run AFTER spacy sentence splitting is completed.

# Use spacy to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_SENTENCIZED
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [1]:
import os
import sys
import importlib
from pathlib import Path
import numpy as np

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [ ]:
from setup_module.imports import *

In [4]:
def get_word_num_and_frequency(row, text_col):

    row['Job Description num_words'] = len(str(row[f'{text_col}']).split())
    row['Job Description num_unique_words'] = len(set(str(row[f'{text_col}']).split()))
    row['Job Description num_chars'] = len(str(row[f'{text_col}']))
    row['Job Description num_punctuations'] = len([c for c in str(row[f'{text_col}']) if c in string.punctuation])

    return row

In [5]:
# Funtion to print df gender and age info
def df_gender_age_info(df, ivs_all=None):
    if ivs_all is None:
        ivs_all = [
            'Gender',
            'Gender_Num',
            'Gender_Female',
            'Gender_Mixed',
            'Gender_Male',
            'Age',
            'Age_Num',
            'Age_Older',
            'Age_Mixed',
            'Age_Younger',
        ]
    # Print Info
    print('\nDF INFO:\n')
    df.info()

    for iv in ivs_all:
        try:
            print('='*20)
            print(f'{iv}:')
            print('-'*20)
            print(f'{iv} Counts:\n{df[f"{iv}"].value_counts()}')
            print('-'*20)
            print(f'{iv} Percentages:\n{df[f"{iv}"].value_counts(normalize=True).mul(100).round(1).astype(float)}')
            with contextlib.suppress(Exception):
                print('-'*20)
                print(f'{iv} Mean: {df[f"{iv}"].mean().round(2).astype(float)}')
                print('-'*20)
                print(f'{iv} Standard Deviation: {df[f"{iv}"].std().round(2).astype(float)}')
        except Exception:
            print(f'{iv} not available.')

    print('\n')

In [6]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_sentencized.pkl').reset_index(drop=True)

In [7]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17599 entries, 0 to 17598
Data columns (total 57 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Search Keyword                                  17599 non-null  object
 1   Platform                                        17599 non-null  object
 2   Job ID                                          17599 non-null  object
 3   Job Title                                       17599 non-null  object
 4   Company Name                                    17597 non-null  object
 5   Location                                        17599 non-null  object
 6   Job Description                                 17599 non-null  object
 7   Rating                                          3780 non-null   float64
 8   Employment Type                                 17017 non-null  object
 9   Company URL                                     15959 non-null  object
 10  Job URL                                         17599 non-null  object
 11  Job Age                                         17599 non-null  object
 12  Job Age Number                                  17599 non-null  object
 13  Collection Date                                 17599 non-null  object
 14  Data Row                                        13816 non-null  float64
 15  Tracking ID                                     13816 non-null  object
 16  Industry                                        14401 non-null  object
 17  Job Date                                        13819 non-null  object
 18  Type of ownership                               582 non-null    object
 19  Language                                        17599 non-null  object
 20  Dutch Requirement                               17599 non-null  object
 21  English Requirement                             17599 non-null  object
 22  Sector Code                                     17599 non-null  object
 23  Sector                                          17599 non-null  object
 24  Keywords Count                                  17599 non-null  float64
 25  % per Sector                                    17599 non-null  float64
 26  % per Social Category                           17599 non-null  float64
 27  % per Workforce                                 17599 non-null  float64
 28  Female Count (x 1000)                           17599 non-null  float64
 29  Gender_Female_% per Sector                      17599 non-null  float64
 30  Gender_Female_% per Social Category             17599 non-null  float64
 31  Gender_Female_% per Workforce                   17599 non-null  float64
 32  Male Count (x 1000)                             17599 non-null  float64
 33  Gender_Male_% per Sector                        17599 non-null  float64
 34  Gender_Male_% per Social Category               17599 non-null  float64
 35  Gender_Male_% per Workforce                     17599 non-null  float64
 36  Gender                                          17599 non-null  category
 37  Age_Older (>= 45 years)_n                       17599 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            17599 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   17599 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         17599 non-null  float64
 41  Age_Younger (< 45 years)_n                      17599 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           17599 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  17599 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        17599 non-null  float64
 45  Age                                             17599 non-null  category
 46  Sector Count (x 1000)                           17599 non-null  float64
 47  % Sector per Workforce                          17599 non-null  float64
 48  Gender_Female                                   17599 non-null  int64
 49  Gender_Male                                     17599 non-null  int64
 50  Gender_Mixed Gender                             17599 non-null  int64
 51  Age_Mixed Age                                   17599 non-null  int64
 52  Age_Older                                       17599 non-null  int64
 53  Age_Younger                                     17599 non-null  int64
 54  Gender_Num                                      17599 non-null  int64
 55  Age_Num                                         17599 non-null  int64
 56  Job Description spacy_sentencized               17599 non-null  object
dtypes: category(2), float64(24), int64(8), object(23)
memory usage: 7.4+ MB

In [8]:
# Job Ad info
df_gender_age_info(df_jobs)

DF INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17599 entries, 0 to 17598
Data columns (total 57 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Search Keyword                                  17599 non-null  object
 1   Platform                                        17599 non-null  object
 2   Job ID                                          17599 non-null  object
 3   Job Title                                       17599 non-null  object
 4   Company Name                                    17597 non-null  object
 5   Location                                        17599 non-null  object
 6   Job Description                                 17599 non-null  object
 7   Rating                                          3780 non-null   float64
 8   Employment Type                                 17017 non-null  object
 9   Company URL                                     15959 non-null  object
 10  Job URL                                         17599 non-null  object
 11  Job Age                                         17599 non-null  object
 12  Job Age Number                                  17599 non-null  object
 13  Collection Date                                 17599 non-null  object
 14  Data Row                                        13816 non-null  float64
 15  Tracking ID                                     13816 non-null  object
 16  Industry                                        14401 non-null  object
 17  Job Date                                        13819 non-null  object
 18  Type of ownership                               582 non-null    object
 19  Language                                        17599 non-null  object
 20  Dutch Requirement                               17599 non-null  object
 21  English Requirement                             17599 non-null  object
 22  Sector Code                                     17599 non-null  object
 23  Sector                                          17599 non-null  object
 24  Keywords Count                                  17599 non-null  float64
 25  % per Sector                                    17599 non-null  float64
 26  % per Social Category                           17599 non-null  float64
 27  % per Workforce                                 17599 non-null  float64
 28  Female Count (x 1000)                           17599 non-null  float64
 29  Gender_Female_% per Sector                      17599 non-null  float64
 30  Gender_Female_% per Social Category             17599 non-null  float64
 31  Gender_Female_% per Workforce                   17599 non-null  float64
 32  Male Count (x 1000)                             17599 non-null  float64
 33  Gender_Male_% per Sector                        17599 non-null  float64
 34  Gender_Male_% per Social Category               17599 non-null  float64
 35  Gender_Male_% per Workforce                     17599 non-null  float64
 36  Gender                                          17599 non-null  category
 37  Age_Older (>= 45 years)_n                       17599 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            17599 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   17599 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         17599 non-null  float64
 41  Age_Younger (< 45 years)_n                      17599 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           17599 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  17599 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        17599 non-null  float64
 45  Age                                             17599 non-null  category
 46  Sector Count (x 1000)                           17599 non-null  float64
 47  % Sector per Workforce                          17599 non-null  float64
 48  Gender_Female                                   17599 non-null  int64
 49  Gender_Male                                     17599 non-null  int64
 50  Gender_Mixed Gender                             17599 non-null  int64
 51  Age_Mixed Age                                   17599 non-null  int64
 52  Age_Older                                       17599 non-null  int64
 53  Age_Younger                                     17599 non-null  int64
 54  Gender_Num                                      17599 non-null  int64
 55  Age_Num                                         17599 non-null  int64
 56  Job Description spacy_sentencized               17599 non-null  object
dtypes: category(2), float64(24), int64(8), object(23)
memory usage: 7.4+ MB
====================
Gender:
--------------------
Gender Counts:
Mixed Gender    12256
Male             3830
Female           1513
Name: Gender, dtype: int64
--------------------
Gender Percentages:
Mixed Gender    69.6
Male            21.8
Female           8.6
Name: Gender, dtype: float64
--------------------
====================
Gender_Num:
--------------------
Gender_Num Counts:
1    12256
2     3830
0     1513
Name: Gender_Num, dtype: int64
--------------------
Gender_Num Percentages:
1    69.6
2    21.8
0     8.6
Name: Gender_Num, dtype: float64
--------------------
Gender_Num Mean: 1.13
--------------------
Gender_Num Standard Deviation: 0.54
====================
Gender_Female:
--------------------
Gender_Female Counts:
0    16086
1     1513
Name: Gender_Female, dtype: int64
--------------------
Gender_Female Percentages:
0    91.4
1     8.6
Name: Gender_Female, dtype: float64
--------------------
Gender_Female Mean: 0.09
--------------------
Gender_Female Standard Deviation: 0.28
====================
Gender_Mixed:
--------------------
Gender_Mixed not available.
====================
Gender_Male:
--------------------
Gender_Male Counts:
0    13769
1     3830
Name: Gender_Male, dtype: int64
--------------------
Gender_Male Percentages:
0    78.2
1    21.8
Name: Gender_Male, dtype: float64
--------------------
Gender_Male Mean: 0.22
--------------------
Gender_Male Standard Deviation: 0.41
====================
Age:
--------------------
Age Counts:
Mixed Age    11467
Older         3778
Younger       2354
Name: Age, dtype: int64
--------------------
Age Percentages:
Mixed Age    65.2
Older        21.5
Younger      13.4
Name: Age, dtype: float64
--------------------
====================
Age_Num:
--------------------
Age_Num Counts:
1    11467
0     3778
2     2354
Name: Age_Num, dtype: int64
--------------------
Age_Num Percentages:
1    65.2
0    21.5
2    13.4
Name: Age_Num, dtype: float64
--------------------
Age_Num Mean: 0.92
--------------------
Age_Num Standard Deviation: 0.58
====================
Age_Older:
--------------------
Age_Older Counts:
0    13821
1     3778
Name: Age_Older, dtype: int64
--------------------
Age_Older Percentages:
0    78.5
1    21.5
Name: Age_Older, dtype: float64
--------------------
Age_Older Mean: 0.21
--------------------
Age_Older Standard Deviation: 0.41
====================
Age_Mixed:
--------------------
Age_Mixed not available.
====================
Age_Younger:
--------------------
Age_Younger Counts:
0    15245
1     2354
Name: Age_Younger, dtype: int64
--------------------
Age_Younger Percentages:
0    86.6
1    13.4
Name: Age_Younger, dtype: float64
--------------------
Age_Younger Mean: 0.13
--------------------
Age_Younger Standard Deviation: 0.34

In [9]:
# Explode df so that every row is one sentence
df_jobs = df_jobs.explode('Job Description spacy_sentencized', ignore_index=True).reset_index(drop=True)

In [10]:
# 194820
len(df_jobs)

194820

In [11]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 57 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  category
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  category
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  int64
 49  Gender_Male                                     194820 non-null  int64
 50  Gender_Mixed Gender                             194820 non-null  int64
 51  Age_Mixed Age                                   194820 non-null  int64
 52  Age_Older                                       194820 non-null  int64
 53  Age_Younger                                     194820 non-null  int64
 54  Gender_Num                                      194820 non-null  int64
 55  Age_Num                                         194820 non-null  int64
 56  Job Description spacy_sentencized               194820 non-null  object
dtypes: category(2), float64(24), int64(8), object(23)
memory usage: 82.1+ MB

In [12]:
df_jobs['Job Description spacy_sentencized_lower'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda job_sentence: job_sentence.strip().lower()
)

In [13]:
df_jobs[['Job Description spacy_sentencized', 'Job Description spacy_sentencized_lower']].head()

,Job Description spacy_sentencized,Job Description spacy_sentencized_lower
0,About Our Client,about our client
1,The Global KYC organisation is part of ING's C...,the global kyc organisation is part of ing's c...
2,Its purpose is Enabling people and organisatio...,its purpose is enabling people and organisatio...
3,Our Global KYC organisation is a first line of...,our global kyc organisation is a first line of...
4,In our Global KYC organisation you will be wor...,in our global kyc organisation you will be wor...

In [14]:
%%time
# Spacy tokenize
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

df_jobs['Job Description spacy_tokenized'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda job_sentence: [
        str(token.text.strip().lower())
        for token in nlp.tokenizer(job_sentence)
        if len(token) != 0
        and not token.is_space
        and not token.is_stop
        and not token.is_punct
        and not token.is_bracket
        and not token.like_email
        and not token.text in custom_punct_chars
    ]
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy.csv', index=False)

CPU times: user 37.2 s, sys: 1.56 s, total: 38.8 s
Wall time: 41.7 s

In [15]:
df_jobs['Job Description spacy_sentencized_cleaned'] = df_jobs['Job Description spacy_tokenized'].str.join(' ')

In [16]:
%%time
# Get sentence word frequencies
df_jobs = df_jobs.apply(
    lambda row: get_word_num_and_frequency(
        row=row, text_col='Job Description spacy_sentencized'
    ), 
    axis='columns',
    
)

In [17]:
# Job Sentence info
df_gender_age_info(df_jobs)

DF INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 64 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  object
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  int64
 49  Gender_Male                                     194820 non-null  int64
 50  Gender_Mixed Gender                             194820 non-null  int64
 51  Age_Mixed Age                                   194820 non-null  int64
 52  Age_Older                                       194820 non-null  int64
 53  Age_Younger                                     194820 non-null  int64
 54  Gender_Num                                      194820 non-null  int64
 55  Age_Num                                         194820 non-null  int64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description spacy_sentencized_cleaned       194820 non-null  object
 60  Job Description num_words                       194820 non-null  int64
 61  Job Description num_unique_words                194820 non-null  int64
 62  Job Description num_chars                       194820 non-null  int64
 63  Job Description num_punctuations                194820 non-null  int64
dtypes: float64(24), int64(12), object(28)
memory usage: 95.1+ MB
====================
Gender:
--------------------
Gender Counts:
Mixed Gender    135755
Male             32291
Female           26774
Name: Gender, dtype: int64
--------------------
Gender Percentages:
Mixed Gender    69.7
Male            16.6
Female          13.7
Name: Gender, dtype: float64
--------------------
====================
Gender_Num:
--------------------
Gender_Num Counts:
1    135755
2     32291
0     26774
Name: Gender_Num, dtype: int64
--------------------
Gender_Num Percentages:
1    69.7
2    16.6
0    13.7
Name: Gender_Num, dtype: float64
--------------------
Gender_Num Mean: 1.03
--------------------
Gender_Num Standard Deviation: 0.55
====================
Gender_Female:
--------------------
Gender_Female Counts:
0    168046
1     26774
Name: Gender_Female, dtype: int64
--------------------
Gender_Female Percentages:
0    86.3
1    13.7
Name: Gender_Female, dtype: float64
--------------------
Gender_Female Mean: 0.14
--------------------
Gender_Female Standard Deviation: 0.34
====================
Gender_Mixed:
--------------------
Gender_Mixed not available.
====================
Gender_Male:
--------------------
Gender_Male Counts:
0    162529
1     32291
Name: Gender_Male, dtype: int64
--------------------
Gender_Male Percentages:
0    83.4
1    16.6
Name: Gender_Male, dtype: float64
--------------------
Gender_Male Mean: 0.17
--------------------
Gender_Male Standard Deviation: 0.37
====================
Age:
--------------------
Age Counts:
Mixed Age    126988
Older         36709
Younger       31123
Name: Age, dtype: int64
--------------------
Age Percentages:
Mixed Age    65.2
Older        18.8
Younger      16.0
Name: Age, dtype: float64
--------------------
====================
Age_Num:
--------------------
Age_Num Counts:
1    126988
0     36709
2     31123
Name: Age_Num, dtype: int64
--------------------
Age_Num Percentages:
1    65.2
0    18.8
2    16.0
Name: Age_Num, dtype: float64
--------------------
Age_Num Mean: 0.97
--------------------
Age_Num Standard Deviation: 0.59
====================
Age_Older:
--------------------
Age_Older Counts:
0    158111
1     36709
Name: Age_Older, dtype: int64
--------------------
Age_Older Percentages:
0    81.2
1    18.8
Name: Age_Older, dtype: float64
--------------------
Age_Older Mean: 0.19
--------------------
Age_Older Standard Deviation: 0.39
====================
Age_Mixed:
--------------------
Age_Mixed not available.
====================
Age_Younger:
--------------------
Age_Younger Counts:
0    163697
1     31123
Name: Age_Younger, dtype: int64
--------------------
Age_Younger Percentages:
0    84.0
1    16.0
Name: Age_Younger, dtype: float64
--------------------
Age_Younger Mean: 0.16
--------------------
Age_Younger Standard Deviation: 0.37

In [18]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy.csv', index=False)

# Use NLTK to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [19]:
import os
import sys
import importlib
from pathlib import Path
import numpy as np

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [ ]:
from setup_module.imports import *

In [22]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_tokenized_spacy.pkl').reset_index(drop=True)

In [23]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 64 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  object
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  int64
 49  Gender_Male                                     194820 non-null  int64
 50  Gender_Mixed Gender                             194820 non-null  int64
 51  Age_Mixed Age                                   194820 non-null  int64
 52  Age_Older                                       194820 non-null  int64
 53  Age_Younger                                     194820 non-null  int64
 54  Gender_Num                                      194820 non-null  int64
 55  Age_Num                                         194820 non-null  int64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description spacy_sentencized_cleaned       194820 non-null  object
 60  Job Description num_words                       194820 non-null  int64
 61  Job Description num_unique_words                194820 non-null  int64
 62  Job Description num_chars                       194820 non-null  int64
 63  Job Description num_punctuations                194820 non-null  int64
dtypes: float64(24), int64(12), object(28)
memory usage: 95.1+ MB

In [24]:
%%time
# Tokenize with NLTK
# stop_words = set(stopwords.words('english'))
# punctuations = list(string.punctuation)
# lemmatizer = WordNetLemmatizer()
# stemmer = PorterStemmer()

df_jobs['Job Description nltk_tokenized'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda job_sentence: [
        str(token.strip().lower()) 
        for token in word_tokenize(job_sentence) 
        if len(token) != 0 
        and token != '...' 
        and not token.lower() in set(stopwords.words('english')) 
        and not token.lower() in list(string.punctuation) 
    ]
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.csv', index=False)

CPU times: user 7min 12s, sys: 2min 26s, total: 9min 38s
Wall time: 11min 8s

In [25]:
df_jobs['Job Description nltk_tokenized'].head()

0                                             [client]
1    [global, kyc, organisation, part, ing, 's, coo...
2    [purpose, enabling, people, organisations, use...
3    [global, kyc, organisation, first, line, defen...
4    [global, kyc, organisation, working, many, col...
Name: Job Description nltk_tokenized, dtype: object

In [26]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 65 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  object
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  int64
 49  Gender_Male                                     194820 non-null  int64
 50  Gender_Mixed Gender                             194820 non-null  int64
 51  Age_Mixed Age                                   194820 non-null  int64
 52  Age_Older                                       194820 non-null  int64
 53  Age_Younger                                     194820 non-null  int64
 54  Gender_Num                                      194820 non-null  int64
 55  Age_Num                                         194820 non-null  int64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description spacy_sentencized_cleaned       194820 non-null  object
 60  Job Description num_words                       194820 non-null  int64
 61  Job Description num_unique_words                194820 non-null  int64
 62  Job Description num_chars                       194820 non-null  int64
 63  Job Description num_punctuations                194820 non-null  int64
 64  Job Description nltk_tokenized                  194820 non-null  object
dtypes: float64(24), int64(12), object(29)
memory usage: 96.6+ MB

In [27]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.csv', index=False)

# Use gensim to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY_NLTK
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [28]:
import os
import sys
import importlib
from pathlib import Path
import numpy as np

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [ ]:
from setup_module.imports import *

In [31]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.pkl').reset_index(drop=True)

In [32]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 65 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  object
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  int64
 49  Gender_Male                                     194820 non-null  int64
 50  Gender_Mixed Gender                             194820 non-null  int64
 51  Age_Mixed Age                                   194820 non-null  int64
 52  Age_Older                                       194820 non-null  int64
 53  Age_Younger                                     194820 non-null  int64
 54  Gender_Num                                      194820 non-null  int64
 55  Age_Num                                         194820 non-null  int64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description spacy_sentencized_cleaned       194820 non-null  object
 60  Job Description num_words                       194820 non-null  int64
 61  Job Description num_unique_words                194820 non-null  int64
 62  Job Description num_chars                       194820 non-null  int64
 63  Job Description num_punctuations                194820 non-null  int64
 64  Job Description nltk_tokenized                  194820 non-null  object
dtypes: float64(24), int64(12), object(29)
memory usage: 96.6+ MB

In [33]:
%%time
pattern = r'[\n]+|[,]{2,}|[|]{2,}|[\n\r]+|(?<=[a-z]\.)(?=\s*[A-Z])|(?=\:+[A-Z])'
df_jobs['Job Description gensim_tokenized'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda sentence: preprocess_string(re.sub(pattern, ' ', sentence.strip().lower()))
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.csv', index=False)

CPU times: user 55.4 s, sys: 3.02 s, total: 58.4 s
Wall time: 1min 2s

In [34]:
df_jobs['Job Description gensim_tokenized'].head()

0                                             [client]
1             [global, kyc, organis, ing, coo, domain]
2    [purpos, enabl, peopl, organis, us, bank, serv...
3    [global, kyc, organis, line, defenc, depart, p...
4    [global, kyc, organis, work, colleagu, differ,...
Name: Job Description gensim_tokenized, dtype: object

In [35]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 66 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  object
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  int64
 49  Gender_Male                                     194820 non-null  int64
 50  Gender_Mixed Gender                             194820 non-null  int64
 51  Age_Mixed Age                                   194820 non-null  int64
 52  Age_Older                                       194820 non-null  int64
 53  Age_Younger                                     194820 non-null  int64
 54  Gender_Num                                      194820 non-null  int64
 55  Age_Num                                         194820 non-null  int64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description spacy_sentencized_cleaned       194820 non-null  object
 60  Job Description num_words                       194820 non-null  int64
 61  Job Description num_unique_words                194820 non-null  int64
 62  Job Description num_chars                       194820 non-null  int64
 63  Job Description num_punctuations                194820 non-null  int64
 64  Job Description nltk_tokenized                  194820 non-null  object
 65  Job Description gensim_tokenized                194820 non-null  object
dtypes: float64(24), int64(12), object(30)
memory usage: 98.1+ MB

In [36]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')
 df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.csv', index=False)

# Use BERT to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY_NLTK_GENSIM
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [1]:
import os
import sys
import importlib
from pathlib import Path
import numpy as np

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [2]:
from setup_module.imports import *

Using MPS

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForSequenceClassification: ['cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.bias', 'cls.seq_relationship.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

0it [00:00, ?it/s]

In [3]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl').reset_index(drop=True)

In [4]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 66 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  object
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  int64
 49  Gender_Male                                     194820 non-null  int64
 50  Gender_Mixed Gender                             194820 non-null  int64
 51  Age_Mixed Age                                   194820 non-null  int64
 52  Age_Older                                       194820 non-null  int64
 53  Age_Younger                                     194820 non-null  int64
 54  Gender_Num                                      194820 non-null  int64
 55  Age_Num                                         194820 non-null  int64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description spacy_sentencized_cleaned       194820 non-null  object
 60  Job Description num_words                       194820 non-null  int64
 61  Job Description num_unique_words                194820 non-null  int64
 62  Job Description num_chars                       194820 non-null  int64
 63  Job Description num_punctuations                194820 non-null  int64
 64  Job Description nltk_tokenized                  194820 non-null  object
 65  Job Description gensim_tokenized                194820 non-null  object
dtypes: float64(24), int64(12), object(30)
memory usage: 98.1+ MB

In [5]:
%%time
max_length = 512
returned_tensor = 'pt'
cpu_counts = torch.multiprocessing.cpu_count()
device = torch.device('mps') if torch.has_mps and torch.backends.mps.is_built() and torch.backends.mps.is_available() else torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')
device_name = str(device.type)
print(f'Using {device_name.upper()}')
bert_model_name = 'bert-base-uncased'
bert_tokenizer = BertTokenizerFast.from_pretrained(bert_model_name, strip_accents = True)
bert_model = BertForSequenceClassification.from_pretrained(bert_model_name).to(device)

df_jobs['Job Description bert_encodings'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda sentence: bert_tokenizer(
        str(sentence), truncation=True, padding=True, max_length=max_length, return_tensors=returned_tensor
    ).to(device)
)

df_jobs['Job Description bert_tokenized'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda sentence: bert_tokenizer.tokenize(str(sentence))
)

df_jobs['Job Description bert_tokenized_to_id'] = df_jobs['Job Description bert_tokenized'].apply(
    lambda sentence: bert_tokenizer.convert_tokens_to_ids(str(sentence))
)

if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.pkl')

    df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

Token indices sequence length is longer than the specified maximum sequence length for this model (1539 > 512). Running this sequence through the model will result in indexing errors

CPU times: user 15min 39s, sys: 21min 1s, total: 36min 41s
Wall time: 1h 11min 29s

In [6]:
df_jobs['Job Description bert_encodings'].head()

0    [input_ids, token_type_ids, attention_mask]
1    [input_ids, token_type_ids, attention_mask]
2    [input_ids, token_type_ids, attention_mask]
3    [input_ids, token_type_ids, attention_mask]
4    [input_ids, token_type_ids, attention_mask]
Name: Job Description bert_encodings, dtype: object

In [7]:
df_jobs['Job Description bert_tokenized'].head()

0                                 [about, our, client]
1    [the, global, ky, ##c, organisation, is, part,...
2    [its, purpose, is, enabling, people, and, orga...
3    [our, global, ky, ##c, organisation, is, a, fi...
4    [in, our, global, ky, ##c, organisation, you, ...
Name: Job Description bert_tokenized, dtype: object

In [8]:
df_jobs['Job Description bert_tokenized_to_id'].head()

0    100
1    100
2    100
3    100
4    100
Name: Job Description bert_tokenized_to_id, dtype: int64

In [9]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.csv', index=False)